---
layout: page
title: Expertise
header: "Expertise"
tagline: "We are Efficient, Experienced, and Professional"
active: expertise
banner: "expertise-header-banner"
meta: "expertise email phone address"
---

{% include sections/page_tagline.html %}

<section id="expertise" class="palette background-bright">
<div id="expertise-banner">

    <div class="container horizontal-padding-medium container-narrow">
    <div class="row">

        <blockquote>What we do, and do well, is help clients achieve goals and stay on track. Regardless of your business size or model, we can help you grow your Internet presence.</blockquote>

      <div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- /#expertise-banner -->
</section><!-- /#expertise -->

<section id="solution-details" class="palette background-slate-lighten-65">
    <div class="container horizontal-padding-medium">
        <div class="row">
            <div class="col-md-8">
                <h2>Content Management</h2>
                <p>You've got something to say, volumes to share, and we know there's two parts to this communication: presentation and maintenance.</p>
                <p>We focus on your copy and help you present it to your audience.  But we also understand that your content is alive and breathing and you need the right tools to maintain it.</p>
            </div>

            <div class="col-md-4">
                <img src="{{ site.baseurl }}/assets/img/library.jpg" class="img-responsive panel" alt="CMS" />
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->

    <div class="container horizontal-padding-medium">
        <div class="row">
            <div class="col-md-8">
                <h2>Online Commerce</h2>
                <p>Your customers need your products and services and you need to securely handle payment.</p>
                <p>We can help you to present your catalog, manage your inventory, and process payments using Magento, Drupal Commerce, and WooCommerce.</p>
            </div>

            <div class="col-md-4">
                <img src="{{ site.baseurl }}/assets/img/wrestle.jpg" class="img-responsive panel" alt="E-commerce" />
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->

    <div class="container horizontal-padding-medium">
        <div class="row">
            <div class="col-md-8">
                <h2>Custom Development</h2>
                <p>Not every website is a blog or CMS.</p>
                <p>We have experience and confidence creating marketing intranets, custom helpdesk consoles, and data bridges to connect ERP systems to e-commerce websites.</p>
            </div>

            <div class="col-md-4">
                <img src="{{ site.baseurl }}/assets/img/old-tools.jpg" class="img-responsive panel" alt="Custom Development" />
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /#solution-details -->

<section id="logos" class="palette background-slate-lighten-75">
    {% include sections/logos.html %}
</section><!-- /#logos -->

{% include sections/contact.html %}
