
<section id="apps" class="palette background-slate-lighten-85">
<div id="apps-banner">

    <div class="container horizontal-padding-medium">
    <div class="row">
        
        <h2 class="text-scriptfont text-slate text-center">We Make Robust, Attractive, Web Applications</h2>

    </div><!-- /.row -->
    </div><!-- /.container -->

    <div class="container horizontal-padding-large container-narrow">
    <div class="row">
        
        <div class="col-md-4 col-lg-4 hidden-xs hidden-sm">
            <img src="/assets/img/apps.png" class="img-responsive" alt="Responsiveness" />
        </div>

        <div class="col-md-8 col-lg-8">
            <h4 class="text-center">Don't call them websites!</h4>
            <p>Your clients and customers can be fickle.  They expect a pleasing and functional experience when they visit your web application.  If they don't get it, and fast &mdash; they leave.</p>
            <p>We are experts at growing your online presence.  Let's us show you how we can create focus, target the right customers, and keep them loyal to your brand.</p>
            <div class="text-right">
                <a href="/apps" class="btn btn-default">Learn More <i class="fa fa-long-arrow-right"></i></a>
            </div>
        </div>

    </div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- /#apps-banner -->
</section><!-- /#apps -->
