
<section id="apps" class="palette background-bright">
<div id="apps-banner">

    <div class="container container-large-padding container-narrow">
    <div class="row">
        
        <div class="col-lg-4">
            <p class="text-steel-blue text-center"><i class="fa fa-4x fa-suitcase"></i></p>
        </div>

        <div class="col-lg-8">
            <h2 class="text-steel-blue">Web Application</h2>
            <h3>Your Website, Your Brand, Your Content</h3>
            <p class="lead">Creating or enhancing your own brand is critical to your company.</p>
            <div class="text-center">
                <a href="/apps" type="button" class="btn btn-default">Read More</a>
            </div>
        </div>

    </div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- /#apps-banner -->
</section><!-- /#apps -->
