
<section id="apps" class="palette background-bright">
<div id="apps-banner">

    <div class="container container-large-padding container-narrow">
    <div class="row">
        
        <div class="col-lg-4">
            <img src="/assets/img/responsive-app.jpg" class="img-responsive" alt="Responsiveness" />
        </div>

        <div class="col-lg-8">
            <h2 class="text-steel-blue">Web Application</h2>
            <h3>Websites are Dead &mdash; Long live Websites!</h3>
            <p class="lead">Your clients and customers expect a functional experience when they visit your web application.  Our goal is growing your online presence.</p>
            <p>Build, attract, convert.</p>
            <div class="text-center">
                <a href="/apps" type="button" class="btn btn-default">Find out How</a>
            </div>
        </div>

    </div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- /#apps-banner -->
</section><!-- /#apps -->
