
<section id="cloud-apps" class="palette background-light-gray">
<div id="cloud-apps-banner">

    <div class="container horizontal-padding-medium">
    <div class="row">

        <div class="col-md-2 col-lg-2 text-center">
            <p><i class="fa fa-3x fa-wordpress"></i></p>
            <p>Rackspace</p>
        </div><!-- col-md-2 col-lg-2 -->
            
        <div class="col-md-2 col-lg-2 text-center">
            <p><i class="fa fa-3x fa-wordpress"></i></p>
            <p>Digital Ocean</p>
        </div><!-- col-md-2 col-lg-2 --> 
        
        <div class="col-md-2 col-lg-2 text-center">
            <p><i class="fa fa-3x fa-wordpress"></i></p>
            <p>Amazon</p>
        </div><!-- col-md-2 col-lg-2 -->

        <div class="col-md-2 col-lg-2 text-center">
            <p><i class="fa fa-3x fa-wordpress"></i></p>
            <p>Redundancy</p>
        </div><!-- col-md-2 col-lg-2 -->
            
        <div class="col-md-2 col-lg-2 text-center">
            <p><i class="fa fa-3x fa-wordpress"></i></p>
            <p>Backups</p>
        </div><!-- col-md-2 col-lg-2 --> 
        
        <div class="col-md-2 col-lg-2 text-center">
            <p><i class="fa fa-3x fa-wordpress"></i></p>
            <p>Uptime</p>
        </div><!-- col-md-2 col-lg-2 -->

    </div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- /#cloud-apps-banner -->
</section><!-- /#cloud-apps -->
