

<section id="cloud-management" class="palette">
<div id="cloud-management-banner">

  <div class="container horizontal-padding-medium container-narrow">
  <div class="row background-opaque">
    
    <div class="col-md-3 col-lg-3">
      <img src="{{ site.baseurl }}/assets/img/cloud.png" class="img-responsive hidden-xs hidden-sm" alt="Cloud Management" />
    </div>
  
    <div class="col-md-9 col-lg-9">
      <h2 class="text-center">Cloud Management</h2>
    </div>

    <div class="col-md-12 col-lg-12">

      <p class="summary text-center">Customers are indicating a steep growth in implementing cloud technology of between <em>27 percent</em> and <em>39 percent</em> year-over-year.</p>

      <cite>Source: <a href="http://www.huffingtonpost.com/2013/11/06/amex-what-is-the-cloud-and-why_n_3964066.html" target="_blank">http://www.huffingtonpost.com/2013/11/06/amex-what-is-the-cloud-and-why_n_3964066.html</a></cite>
      
      <p>Are your servers up? Is your web site slowing to a crawl?  Are you protected from the most recent vulnerability?  How do you manage backups?</p>
      
      <p>These are the things network engineers need to be concerned about &mdash; not you.</p>

      <p>Whether you need help integrating into Amazon Web Services, moving to Digital Ocean, or backing up your data to Rackspace, {{ site.title }} has experienced trained engineers that know how to manage your Internet.</p>

    </div>

  </div><!-- /.row -->
  <div class="row background-opaque">

    <div class="col-sm-2 col-md-2 col-lg-2">
      <img src="/assets/img/cloudapps/grayscale-aws.png" class="img-responsive" alt="AWS" />
    </div><!-- col-sm-2 col-md-2 col-lg-2 -->
      
    <div class="col-sm-2 col-md-2 col-lg-2">
      <img src="/assets/img/cloudapps/grayscale-digitalocean.png" class="img-responsive" alt="AWS" />
    </div><!-- col-sm-2 col-md-2 col-lg-2 -->

    <div class="col-sm-2 col-md-2 col-lg-2">
      <img src="/assets/img/cloudapps/grayscale-rackspace.png" class="img-responsive" alt="AWS" />
    </div><!-- col-sm-2 col-md-2 col-lg-2 -->
    
    <div class="col-sm-2 col-md-2 col-lg-2">
      <img src="/assets/img/cloudapps/grayscale-heroku.png" class="img-responsive" alt="AWS" />
    </div><!-- col-sm-2 col-md-2 col-lg-2 -->

    <div class="col-sm-2 col-md-2 col-lg-2">
      <img src="/assets/img/cloudapps/grayscale-apache.png" class="img-responsive" alt="AWS" />
    </div><!-- col-sm-2 col-md-2 col-lg-2 -->

    <div class="col-sm-2 col-md-2 col-lg-2">
      <img src="/assets/img/cloudapps/grayscale-mysql.png" class="img-responsive" alt="AWS" />
    </div><!-- col-sm-2 col-md-2 col-lg-2 -->

  </div><!-- /.row -->
  </div><!-- /.container -->

</div><!-- /#cloud-management-banner -->
</section><!-- /#cloud-management -->
