
<section id="cloud-apps" class="palette background-slate-lighten-65">
<div id="cloud-apps-banner">

    <div class="container container-narrow">
    <div class="row">

        <div class="col-md-2 col-lg-2">
            <img src="/assets/img/cloudapps/grayscale-aws.png" class="img-responsive" alt="AWS" />
        </div><!-- col-md-2 col-lg-2 -->
            
        <div class="col-md-2 col-lg-2">
            <img src="/assets/img/cloudapps/grayscale-digitalocean.png" class="img-responsive" alt="AWS" />
        </div><!-- col-md-2 col-lg-2 -->

        <div class="col-md-2 col-lg-2">
            <img src="/assets/img/cloudapps/grayscale-rackspace.png" class="img-responsive" alt="AWS" />
        </div><!-- col-md-2 col-lg-2 -->
        
        <div class="col-md-2 col-lg-2">
            <img src="/assets/img/cloudapps/grayscale-heroku.png" class="img-responsive" alt="AWS" />
        </div><!-- col-md-2 col-lg-2 -->

        <div class="col-md-2 col-lg-2">
            <img src="/assets/img/cloudapps/grayscale-apache.png" class="img-responsive" alt="AWS" />
        </div><!-- col-md-2 col-lg-2 -->

        <div class="col-md-2 col-lg-2">
            <img src="/assets/img/cloudapps/grayscale-mysql.png" class="img-responsive" alt="AWS" />
        </div><!-- col-md-2 col-lg-2 -->

    </div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- /#cloud-apps-banner -->
</section><!-- /#cloud-apps -->
