
<div class="modal fade" id="contactForm" tabindex="-1" role="dialog" aria-labelledby="contactFormLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="contactFormLabel">Contact Us</h5>
            </div><!-- /.modal-header -->

            <div class="modal-body cognito">
                <script src="https://services.cognitoforms.com/s/06jCkUmFrECslLaxTEG8rw"></script>
                <script>Cognito.load("forms", { id: "1" });</script>
            </div><!-- /.modal-body -->

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /#contactForm -->
