
<section id="completion" class="palette background-pale">
<div id="completion-banner">

    <div class="container container-large-padding container-narrow">
    <div class="row">

        <h2 class="shadow-black text-center">Completion</h2>
        <h4 class="text-center">It's your code, so you keep it.</h4>
        <p>{{site.title}} uses standard development platforms and practices &mdash; so whether you want to maintain your completed product, find someone else to help, or continue to use us ...</p>

    </div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- /#completion-banner -->
</section><!-- /#completion -->
