
<section id="logos" class="palette">
    <div class="container horizontal-padding-large">
        <div class="row">
            <div class="col-md-8">
                <h2>Let's Connect!</h2>
                <p>If you have a project in mind, reach out and we can start a conversation.</p>
            </div>

            <div class="col-md-4 well">
                <p class="text-lowercase">
                    <i class="fa fa-comment"></i>&nbsp;{% include blocks/contact.html %}
                </p>
                <p class="text-lowercase">
                    <i class="fa fa-envelope"></i>&nbsp;{% include blocks/email.html %}
                </p>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
