
<section id="contact-section" class="palette background-bright">
<div id="contact-banner">

  <div class="container horizontal-padding-large">
  <div class="row">

    <h1 class="text-center">Have a project in mind?</h1>

    <div class="col-md-6 col-lg-6">
      <div class="background-slate-lighten-65 buffer-pad">
      <h3 class="text-center text-lowercase">
        <i class="fa fa-envelope"></i>&nbsp;{% include blocks/email.html %}
      </h3>
      </div>
    </div>

    <div class="col-md-6 col-lg-6">
      <div class="background-slate-lighten-65 buffer-pad">
      <h3 class="text-center text-lowercase">
        <i class="fa fa-phone"></i>&nbsp;{% include blocks/phone.html %}
      </h3>
      </div>
    </div>

  </div><!-- /.row -->
  </div><!-- /.container -->

</div><!-- /#contact-banner -->
</section><!-- /#contact-section -->
