

<section id="e-commerce" class="palette">
<div id="e-commerce-banner">

  <div class="container horizontal-padding-medium container-narrow">
  <div class="row background-opaque">
    
    <div class="col-md-3 col-lg-3">
      <img src="{{ site.baseurl }}/assets/img/commerce.png" class="img-responsive hidden-xs hidden-sm" alt="E-commerce" />
    </div>
  
    <div class="col-md-9 col-lg-9">
      <h2 class="text-center">E-commerce</h2>
    </div>

    <div class="col-md-12 col-lg-12">

      <p class="summary text-center">On Black Friday 2013, <em>40 percent</em> of online shopping occurred on a mobile device.</p>

      <cite>Source: <a href="http://tech.co/5-trends-driving-e-commerce-2014-2014-02" target="_blank">http://tech.co/5-trends-driving-e-commerce-2014-2014-02</a></cite>

      <p>If you think the trends of e-commerce and mobile are going to change, think again.  E-commerce, mobile, social.  These three words are what could be driving your online sales or choking them.</p>

      <p>We launched our first large scale web store in 2005.  Since then we've deployed many ecommerce web applications from small shops to multi-million dollar stores that fully integrate into ERP.</p>

      <p>We go well beyond setting up a secure shopping experience. We apply the same user-experience and content strategy tactics to e-commerce, which allows customers to easily find and select products, input information securely, and progress through the buying experience quickly.</p>

    </div>

  </div><!-- /.row -->
  </div><!-- /.container -->

</div><!-- /#e-commerce-banner -->
</section><!-- /#e-commerce -->
