
<section id="expertise" class="palette gray-dark">
<div id="expertise-banner">

    <div class="container container-extra-padding">
    <div class="row">
    
        <h1 class="centerify">Expertise</h1>
        <h2 class="centerify">We know your stack</h2>

        <div class="col-lg-2">
            <h2>Wordpress</h2>
            <p></p>
        </div><!-- col-lg-2 -->
            
        <div class="col-lg-2">
            <h2>Magento</h2>
            <p></p>
        </div><!-- col-lg-2 --> 
        
        <div class="col-lg-2">
            <h2>Shopify</h2>
            <p></p>
        </div><!-- col-lg-2 -->

        <div class="col-lg-2">
            <h2>Wordpress</h2>
            <p></p>
        </div><!-- col-lg-2 -->
            
        <div class="col-lg-2">
            <h2>Magento</h2>
            <p></p>
        </div><!-- col-lg-2 --> 
        
        <div class="col-lg-2">
            <h2>Shopify</h2>
            <p></p>
        </div><!-- col-lg-2 -->
    
    </div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- /#expertise-banner -->
</section><!-- /#expertise -->
