
<section id="family-business-section" class="palette">
<div id="family-business" class="horizontal-padding-large">

  <div class="container">
  <div class="row">

    <h2 class="text-slate text-left text-scriptfont">We are a Lean, Small, Family Business</h2>

  </div><!-- /.row -->
  </div><!-- /.container -->

  <div class="container">
  <div class="row">

    <h2 class="text-slate text-right text-scriptfont">... we're also Efficient, Experienced, and Professional</h2>

  </div><!-- /.row -->
  </div><!-- /.container -->

</div><!-- /#family-business -->
</section><!-- /#family-business-section -->

