
{% include ie.html %}

{% if page.header %}

<!-- header -->

<section id="page-header" class="palette background-slate">
{% if page.banner %}
<div class="image-banner" id="{{ page.banner }}">
{% else %}
<div id="page-header-banner">
{% endif %}

    <div class="container horizontal-padding-large">
    <div class="row">

        <h1 class="page-header text-center">{{ page.header }}</h1>

    </div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- /#page-header-banner -->
</section><!-- /#page-header -->

{% endif %}
