
<section id="hero" class="palette palette-inherit-white">
<div id="hero-banner">

    <div class="container container-extra-padding">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <img src="/assets/img/logo-f1c232.png" class="img-responsive" alt="{{site.title}} Logo" />
        </div>
    </div>

    <div class="row">

        <!-- <h1 class="centerify"><span class="fa fa-2x fa-circle-o-notch"></span></h1> -->
        <h2 class="centerify">{{site.title}}</h2>
        <p class="lead centerify">{{site.description}}</p>

    </div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- /#hero-banner -->
</section><!-- /#hero -->
