
<section id="hero">
    <div class="container-narrow">
        <h1>{{site.tagline}}</h1>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div>
                    <img src="assets/img/glossy-imac-monitor.png" id="hero-image" />
                </div>
                <h2>{Why PixelNewt is different}</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet hendrerit velit, quis suscipit purus. Curabitur aliquam eleifend ultrices. Aenean ultricies vel velit sit amet vulputate. Donec ornare leo eu felis commodo, sed tincidunt lectus molestie. Aliquam quis neque at nisl volutpat ornare. Cras feugiat metus eget ipsum egestas, ac faucibus est sollicitudin. Donec sit amet luctus neque.</p>
            </div>
        </div>
    </div>
</section>
