
<section id="hosting" class="palette  background-slate-lighten-45">
<div id="hosting-banner">

    <div class="container horizontal-padding-medium">
    <div class="row">
        
        <h2 class="text-scriptfont text-slate text-center">Cloud Management</h2>

    </div><!-- /.row -->
    </div><!-- /.container -->

    <div class="container horizontal-padding-large container-narrow">
    <div class="row">

        <div class="col-md-4 col-lg-4 hidden-xs hidden-sm">
            <img src="/assets/img/hosting.png" class="img-responsive" alt="hosting" />
        </div>

        <div class="col-md-8 col-lg-8">
            <p>Are your servers up? Is your application slowing to a crawl?  Are you protected from the most recent vulnerability?</p>
            <p>These are the things network engineers need to be concerned about &mdash; not you.    {{ site.title }} has experienced trained engineers that know how to manage your Internet.</p>
            <p>You manage your business and we'll manage your cloud.</p>
            <div class="text-right">
                <a href="/hosting" class="btn btn-default">Learn More <i class="fa fa-long-arrow-right"></i></a>
            </div>
        </div>

    </div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- /#hosting-banner -->
</section><!-- /#hosting -->
