

<section id="how-we-do-it" class="palette background-slate-lighten-45">
<div id="how-we-do-it-banner">

    <div class="container horizontal-padding-large">
    <div class="row">

        <h1 class="text-sansfont text-center text-uppercase">How We Do It</h1>

        <div class="col-md-3 col-lg-3 text-center">
            <p><i class="fa fa-3x fa-puzzle-piece text-white text-shadow-slate"></i></p>
            <h4>Conception</h4>
            <p>We take your idea &mdash; analyze the goals and components to help you arrange all the puzzle pieces into an organized prototype.</p>
        </div>
        
        <div class="col-md-3 col-lg-3 text-center">
            <p><i class="fa fa-3x fa-code text-white text-shadow-slate"></i></p>
            <h4>Creation</h4>
            <p>Using a rapid and efficient development cycle we produce safe, secure, and testable code that you own.</p>
        </div>
        
        <div class="col-md-3 col-lg-3 text-center">
            <p><i class="fa fa-3x fa-comments-o text-white text-shadow-slate"></i></p>
            <h4>Communication</h4>
            <p>{{site.title}} is efficient and communicative with checkpoints so you always know the status of your concept.</p>
        </div>

        <div class="col-md-3 col-lg-3 text-center">
            <p><i class="fa fa-3x fa-gift text-white text-shadow-slate"></i></p>
            <h4>Completion</h4>
            <p>Delivery is on time and on budget.</p>
            <p>Always.</p>
        </div>

    </div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- /#how-we-do-it-banner -->
</section><!-- /#how-we-do-it -->
