
<section id="idea" class="palette palette-light-dark">
<div id="idea-banner">

    <div class="container container-extra-padding container-narrow">
    <div class="row">

        <h3 class="centerify">The Idea Machine</h3>

        <p class="lead">You have an idea for your application.</p>
        <p class="lead">{{site.title}} can build it, manage it, or simply guide you in the process.</p>

    </div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- /#idea-banner -->
</section><!-- /#idea -->
