
<section id="idea" class="palette palette-pale-dark">
<div id="idea-banner">

    <div class="container container-extra-padding">
    <div class="row">

        <h1 class="centerify">An Idea Machine</h1>

        <div class="col-lg-8 col-md-offset-2 centerify">
            <p class="lead">You have an idea for your application.</p>
            <p class="lead">{{site.title}} can build it, manage it, or simply guide you in the process.</p>
        </div><!-- col-lg-8 -->    

    </div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- /#idea-banner -->
</section><!-- /#idea -->
