
<section id="intro" class="palette palette-yellow-dark">
<div id="intro-banner">

    <div class="container container-extra-padding">
    <div class="row">

        <h1 class="centerify">Hey Sassy...</h1>

        <p class="lead">The {{site.title}} team can create a web application for your business so you can build revenue on software as a service (<a href="http://en.wikipedia.org/wiki/Software_as_a_service" target="_blank">SAAS</a>) application for your business so you can provide your customers a stable, beautiful web application</p>

    
    </div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- /#intro-banner -->
</section><!-- /#intro -->
