<div id="logos-banner">

    <div class="container horizontal-padding-large">
        <div class="row">
            <h2 class="text-center">In Our Wheelhouse</h2>
            <p class="text-center">Just a sample of the tools we use ...</p>
        <div><!-- /.row -->
    </div><!-- /.container -->

    <div class="container horizontal-padding-large">
        <div class="row">
            <div class="img-gallery">
                <img src="/assets/img/logos/aws_gray.png" class="img-logo">
                <img src="/assets/img/logos/mariadb_gray.png" class="img-logo">
                <img src="/assets/img/logos/mssql_gray.png" class="img-logo">
                <img src="/assets/img/logos/mysql_gray.png" class="img-logo">
                <img src="/assets/img/logos/nginx_gray.png" class="img-logo">
                <img src="/assets/img/logos/google-analytics_gray.png" class="img-logo">
                <img src="/assets/img/logos/drupal8_gray.png" class="img-logo">
                <img src="/assets/img/logos/magento_gray.png" class="img-logo">
                <img src="/assets/img/logos/woocommerce_gray.png" class="img-logo">
                <img src="/assets/img/logos/wordpress_gray.png" class="img-logo">
            </div>
        <div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- /#logos-banner -->
</section><!-- /#logos -->
