
<section id="portfolio">
<div id="about-portfolio">

    <div class="container container-extra-padding">
    <div class="row" id="portfolio-blocks">

        <h1>Past Work</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet hendrerit velit, quis suscipit purus. Curabitur aliquam eleifend ultrices. Aenean ultricies vel velit sit amet vulputate.</p>

        <div class="col-sm-6 portfolio-item">
            <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                <div class="caption">
                    <div class="caption-content">
                        <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                </div>
                <img src="http://lorempixel.com/g/360/260/" class="img-responsive" alt="">
            </a>
        </div>
        <div class="col-sm-6 portfolio-item">
            <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                <div class="caption">
                    <div class="caption-content">
                        <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                </div>
                <img src="http://lorempixel.com/g/360/260/" class="img-responsive" alt="">
            </a>
        </div>
        <div class="col-sm-6 portfolio-item">
            <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                <div class="caption">
                    <div class="caption-content">
                        <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                </div>
                <img src="http://lorempixel.com/g/360/260/" class="img-responsive" alt="">
            </a>
        </div>
        <div class="col-sm-6 portfolio-item">
            <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                <div class="caption">
                    <div class="caption-content">
                        <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                </div>
                <img src="http://lorempixel.com/g/360/260/" class="img-responsive" alt="">
            </a>
        </div>
        <div class="col-sm-6 portfolio-item">
            <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                <div class="caption">
                    <div class="caption-content">
                        <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                </div>
                <img src="http://lorempixel.com/g/360/260/" class="img-responsive" alt="">
            </a>
        </div>
        <div class="col-sm-6 portfolio-item">
            <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                <div class="caption">
                    <div class="caption-content">
                        <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                </div>
                <img src="http://lorempixel.com/g/360/260/" class="img-responsive" alt="">
            </a>
        </div>
    
    </div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- /#about-portfolio -->
</section><!-- /#about -->
