
<section id="portfolio-header-section" class="palette">
<div id="portfolio-header">

  <div class="container horizontal-padding-large">
  <div class="row">

    <h1 class="text-center">Recent Work</h1>

  </div><!-- /.row -->

  <div class="row row-sep background-opaque" id="mochmach">

    <div class="col-md-8 col-lg-8">
      <img src="{{ site.baseurl }}/assets/img/portfolio/mockmach.jpg" class="img-responsive" alt="MockMach" />
    </div>

    <div class="col-md-4 col-lg-4">
      <h2>MochMach</h2>
      <p>A picture may be worth a thousand words, but offering a working example for your clients is priceless! With <a href="http://mockmach.com/" target="_blank">MockMach</a>, you can rapidly turn your wireframes, PSD's, and ideas into live, functioning, beautiful websites.</p>
      <p><a href="http://mockmach.com/" class="btn btn-primary" role="button" target="_blank">Launch Website <i class="fa fa-long-arrow-right"></i></a></p>
    </div>

  </div><!-- /.row -->

  <div class="row row-sep background-opaque" id="deriolabs">

    <div class="col-md-8 col-lg-8">
      <img src="{{ site.baseurl }}/assets/img/portfolio/deriolabs.jpg" class="img-responsive" alt="Deriolabs" />
    </div>

    <div class="col-md-4 col-lg-4">
      <h2>Deriolabs</h2>
      <p>Deriolabs is an internal project for PixelNewt.</p>
      <p>The goal of DerioLabs is to simply have a place to present, keep, and abandon all the ideas for websites, applications, and API's that bounce around in our heads.</p>
      <p>It's a single page application with some cool Javascript functionality.</p>
      <p><a href="http://deriolabs.com/" class="btn btn-primary" role="button" target="_blank">Launch Website <i class="fa fa-long-arrow-right"></i></a></p>
    </div>

  </div><!-- /.row -->

  <div class="row row-sep background-opaque" id="fadbus">

    <div class="col-md-8 col-lg-8">
      <img src="{{ site.baseurl }}/assets/img/portfolio/fadbus.jpg" class="img-responsive" alt="FontAwesome DataBase" />
    </div>

    <div class="col-md-4 col-lg-4">
      <h2>Fadbus</h2>
      <p>FADBUS is an extended metadata database for the incredible <a href="http://fortawesome.github.io/Font-Awesome/" target="_blank">FontAwesome CSS Toolkit</a>.</p>
      <p>Why? Well, we can't ever seem to find the right icon for our needs -- so we've dumped all the FontAwesome icons into a filterable table and shared it with the community.</p>
      <p><a href="http://fadbus.github.io/" class="btn btn-primary" role="button" target="_blank">Launch Website <i class="fa fa-long-arrow-right"></i></a></p>
    </div>

  </div><!-- /.row -->

  </div><!-- /.container -->

</div><!-- /#portfolio-header -->
</section><!-- /#portfolio-header-section -->
