

<section id="process" class="palette background-steel">
<div id="process-banner">

    <div class="container horizontal-padding-medium">
    <div class="row">
        <h2 class="text-scriptfont text-center">Our Process</h2>
    </div>
    </div><!-- /.container -->

    <div class="container horizontal-padding-large">
    <div class="row">

        <div class="col-md-3 col-lg-3 text-center">
            <p><i class="fa fa-3x fa-puzzle-piece"></i></p>
            <h4 class="text-pale-yellow">Conception</h4>
            <p>We take your idea &mdash; analyze the goals and components to help you arrange all the puzzle pieces into an organized prototype.</p>
        </div>
        
        <div class="col-md-3 col-lg-3 text-center">
            <p><i class="fa fa-3x fa-code"></i></p>
            <h4 class="text-pale-yellow">Creation</h4>
            <p>Using a rapid and efficient development cycle we produce safe, secure, and testable code that you own.</p>
        </div>
        
        <div class="col-md-3 col-lg-3 text-center">
            <p><i class="fa fa-3x fa-comments-o"></i></p>
            <h4 class="text-pale-yellow">Communication</h4>
            <p>{{site.title}} is efficient and communicative with checkpoints so you always know the status of your concept.</p>
        </div>

        <div class="col-md-3 col-lg-3 text-center">
            <p><i class="fa fa-3x fa-gift"></i></p>
            <h4 class="text-pale-yellow">Completion</h4>
            <p>Delivery is on time and on budget.</p>
            <p>Always.</p>
        </div>

    </div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- /#process-banner -->
</section><!-- /#process -->
