
<section id="process" class="palette palette-light-dark">
<div id="process-banner">

    <div class="container container-extra-padding">
    <div class="row">

        <h1 class="centerify">Our Process</h1>
        <div class="col-lg-4">
            <h2>Step 1 -></h2>
            <p></p>
        </div><!-- col-lg-4 -->
            
        <div class="col-lg-4">
            <h2>Step 2 -></h2>
            <p></p>
        </div><!-- col-lg-4 --> 
        
        <div class="col-lg-4">
            <h2>Step 3</h2>
            <p></p>
        </div><!-- col-lg-4 -->
    
    </div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- /#process-banner -->
</section><!-- /#process -->
