
<section id="how">
    <div class="palette background-slate">

        <div class="container horizontal-padding-large">
            <div class="row">

                <h2 class="text-center">Our Rock Solid Process</h2>

                <div class="col-lg-3">
                    <h4><span class="label label-default">1</span>&nbsp;Conception</h4>
                    <p>We take your idea &mdash; analyze the goals and components to help you arrange all the puzzle pieces into an organized prototype.</p>
                </div>

                <div class="col-lg-3">
                    <h4><i class="fa fa-code text-white text-shadow-slate"></i>&nbsp;Creation</h4>
                    <p>Using a rapid and efficient development cycle we produce safe, secure, and testable code that you own.</p>
                </div>

                <div class="col-lg-3">
                    <h4><i class="fa fa-comments-o text-white text-shadow-slate"></i>&nbsp;Communication</h4>
                    <p>{{site.title}} is efficient and communicative with checkpoints so you always know the status of your concept.</p>
                </div>

                <div class="col-lg-3">
                    <h4><i class="fa fa-gift text-white text-shadow-slate"></i>&nbsp;Completion</h4>
                    <p>Delivery is on time and on budget.</p>
                    <p>Always.</p>
                </div>

            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /#palette -->
</section><!-- /#how -->
