
<section id="saas" class="palette">
<div id="saas-banner">

  <div class="container horizontal-padding-medium container-narrow">
  <div class="row">
    
    <div class="col-md-3 col-lg-3">
      <img src="{{ site.baseurl }}/assets/img/saas.png" class="img-responsive hidden-xs hidden-sm" alt="Software as a Service" />
    </div>
  
    <div class="col-md-9 col-lg-9">
      <h2 class="text-center">Software as a Service</h2>
    </div>

    <div class="col-md-12 col-lg-12">

      <p class="summary text-center">Gartner has said the total (Saas) market will top <em>$22 billion through 2015</em>, up from more than $14 billion in 2012.</p>

      <cite>Source: <a href="http://www.pcworld.com/article/2082820/saas-predictions-for-2014.html" target="_blank">http://www.pcworld.com/article/2082820/saas-predictions-for-2014.html</a></cite>

      <p>Your idea is inventive, don't keep it all to yourself!  Instead, turn your vision into a service that others can use.</p>

      <p>Let's say you need to build a tool to track your internal helpdesk.  You've tested the available options out there but none fit your business needs because they are too large and complex, or don't have the features you need.</p>

      <p>We've seen this before and if you think nobody's doing it right, others think it too.</p>

      <p>{{site.title}} can show you how to use modern technology to leverage your idea and create a service that users will pay you for.</p>

    </div>

  </div><!-- /.row -->
  </div><!-- /.container -->

</div><!-- /#saas-banner -->
</section><!-- /#saas -->
