
<section id="saas" class="palette background-bright">
<div id="saas-banner">

    <div class="container container-large-padding container-narrow">
    <div class="row">

        <div class="col-lg-8">
            <h2 class="text-steel-blue">SaaS</h2>
            <h3>Your Software as a Paid for Service</h3>
            <p class="lead">...</p>
            <a href="/saas" type="button" class="btn btn-default">Read More</a>
        </div>
        
        <div class="col-lg-4">
            <img src="/assets/img/saas.png" class="img-responsive" alt="SaaS" />
        </div>

    </div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- /#saas-banner -->
</section><!-- /#saas -->
