
<section id="saas" class="palette background-bright">
<div id="saas-banner">

    <div class="container container-large-padding container-narrow">
    <div class="row">
        
        <div class="col-lg-12">
            <h2 class="text-scriptfont text-slate text-center">Your Software as a Paid for Service</h2>
        </div>
        
        <div class="col-lg-4">
            <img src="/assets/img/saas.png" class="img-responsive" alt="SaaS" />
        </div>

        <div class="col-lg-8">
            <p>Your idea is inventive &mdash; don't keep it all to yourself!  Instead, turn your vision into a service that others can use.</p>
            <p>{{site.title}} can show you how to use modern technology to leverage your idea and create a service that users will pay you for.</p>
            <div class="text-right">
                <a href="/saas" class="btn btn-default">Learn More <i class="fa fa-long-arrow-right"></i></a>
            </div>
        </div>

    </div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- /#saas-banner -->
</section><!-- /#saas -->
