
<section id="expertise" class="palette background-pale">
<div id="expertise-banner">

    <div class="container container-medium-padding">
    <div class="row">
        <h3 class="text-center">You're SaaSy and we know it</h3>
        <h4 class="text-center">{placeholder}</h4>
    </div>

    <div class="row">

        <div class="col-lg-2 text-center">
            <p><i class="fa fa-3x fa-wordpress"></i></p>
            <p>Wordpress</p>
        </div><!-- col-lg-2 -->
            
        <div class="col-lg-2 text-center">
            <p><i class="fa fa-3x fa-wordpress"></i></p>
            <p>Magento</p>
        </div><!-- col-lg-2 --> 
        
        <div class="col-lg-2 text-center">
            <p><i class="fa fa-3x fa-wordpress"></i></p>
            <p>Shopify</p>
        </div><!-- col-lg-2 -->

        <div class="col-lg-2 text-center">
            <p><i class="fa fa-3x fa-wordpress"></i></p>
            <p>Wordpress</p>
        </div><!-- col-lg-2 -->
            
        <div class="col-lg-2 text-center">
            <p><i class="fa fa-3x fa-wordpress"></i></p>
            <p>Magento</p>
        </div><!-- col-lg-2 --> 
        
        <div class="col-lg-2 text-center">
            <p><i class="fa fa-3x fa-wordpress"></i></p>
            <p>Shopify</p>
        </div><!-- col-lg-2 -->
    
    </div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- /#expertise-banner -->
</section><!-- /#expertise -->
