
<section id="services">
    <div class="container">
        <h1>Services</h1>

        <div class="row service" id="reboot">
            <div class="col-sm-4 service-img">
                <img src="http://lorempixel.com/g/360/260/" class="img-responsive" alt="">
            </div>
            <div class="col-sm-8 service-description">
                <h5>Reboot</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet hendrerit velit, quis suscipit purus. Curabitur aliquam eleifend ultrices. Aenean ultricies vel velit sit amet vulputate. Donec ornare leo eu felis commodo, sed tincidunt lectus molestie. Aliquam quis neque at nisl volutpat ornare. Cras feugiat metus eget ipsum egestas, ac faucibus est sollicitudin. Donec sit amet luctus neque.</p>
            </div>
        </div>

        <div class="row service" id="ecommerce">
            <div class="col-sm-8 service-description">
                <h5>E-Commerce</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet hendrerit velit, quis suscipit purus. Curabitur aliquam eleifend ultrices. Aenean ultricies vel velit sit amet vulputate. Donec ornare leo eu felis commodo, sed tincidunt lectus molestie. Aliquam quis neque at nisl volutpat ornare. Cras feugiat metus eget ipsum egestas, ac faucibus est sollicitudin. Donec sit amet luctus neque.</p>
            </div>
            <div class="col-sm-4 service-img">
                <img src="http://lorempixel.com/g/360/260/" class="img-responsive" alt="">
            </div>
        </div>

        <div class="row service" id="overhaul">
            <div class="col-sm-4 service-img">
                <img src="http://lorempixel.com/g/360/260/" class="img-responsive" alt="">
            </div>
            <div class="col-sm-8 service-description">
                <h5>Overhaul</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet hendrerit velit, quis suscipit purus. Curabitur aliquam eleifend ultrices. Aenean ultricies vel velit sit amet vulputate. Donec ornare leo eu felis commodo, sed tincidunt lectus molestie. Aliquam quis neque at nisl volutpat ornare. Cras feugiat metus eget ipsum egestas, ac faucibus est sollicitudin. Donec sit amet luctus neque.</p>
            </div>
        </div>
    </div>
</section>
