
<div class="palette background-bright">

  <div class="container container-narrow horizontal-padding-top-large">
  <div class="row">

    <h2 class="text-center">Solutions</h2>
    <p class="text-center">What we do, and do well, is help clients achieve goals and stay on track. Regardless of your business size or model, we can help you grow your Internet presence.</p>

  </div><!-- /.row -->
  </div><!-- /.container -->


  <div class="container horizontal-padding-medium">
  <div class="row">

    <div class="col-md-6">
      <div class="row-sep background-translucent">
        <img src="{{ site.baseurl }}/assets/img/business.jpg" class="img-responsive" alt="Web & Mobile" />
        <h3>Websites for Small Business</h3>
        <p>Get more exposure, connect with customers and increase sales by launching a professional, modern business website or improving your existing one.</p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row-sep background-translucent">
        <img src="{{ site.baseurl }}/assets/img/tools.jpg" class="img-responsive" alt="Tools" />
        <h3>Applications & Tools</h3>
        <p>Add efficiency and automation to your business workflow. We can help you manage your digital assets, automate vendor invoicing, synchronize your physical inventory with your ecommerce site, or guide you to a custom solution.</p>
      </div>
      </div>
    </div>

  </div><!-- /.row -->
  </div><!-- /.container -->


  <div class="container horizontal-padding-medium">
  <div class="row">

    <p class="text-center">
      <a href="/solutions">Find out more about our Solutions&nbsp;<i class="fa fa-long-arrow-right"></i></a>
    </p>

  </div><!-- /.row -->
  </div><!-- /.container -->

</div><!-- /.palette -->
