
<section id="family-business-section" class="palette background-slate">
<div id="family-business-banner">

  <div class="container container-narrow horizontal-padding-top-large">
  <div class="row">

    <h1 class="text-center">What We Can Do For You</h1>
  
      <p class="lead text-center">What we do, and do well, is {{ site.tagline | downcase }}. Regardless of your business size or model, we can help you grow your Internet presence.</p>

  </div><!-- /.row -->
  </div><!-- /.container -->


  <div class="container">
  <div class="row">
    
    <div class="col-md-3 col-lg-3">
      <div class="row-sep background-translucent">
        <img src="{{ site.baseurl }}/assets/img/responsive.png" class="img-responsive hidden-xs hidden-sm" alt="Web & Mobile" />
      <p class="text-center">Web & Mobile</p>
      </div>
    </div>
    
    <div class="col-md-3 col-lg-3">
      <div class="row-sep background-translucent">
        <img src="{{ site.baseurl }}/assets/img/commerce.png" class="img-responsive hidden-xs hidden-sm" alt="Responsiveness" />
      <p class="text-center">E-Commerce</p>
      </div>
    </div>
    
    <div class="col-md-3 col-lg-3">
      <div class="row-sep background-translucent">
        <img src="{{ site.baseurl }}/assets/img/saas.png" class="img-responsive hidden-xs hidden-sm" alt="Software as a Service" />
      <p class="text-center">SaaS</p>
      </div>
    </div>
    
    <div class="col-md-3 col-lg-3">
      <div class="row-sep background-translucent">
        <img src="{{ site.baseurl }}/assets/img/cloud.png" class="img-responsive hidden-xs hidden-sm" alt="Cloud Management" />
      <p class="text-center">Cloud</p>
      </div>
    </div>

  </div><!-- /.row -->
  </div><!-- /.container -->


  <div class="container container-narrow horizontal-padding-small">
  <div class="row">

    <p class="text-center">
      <a href="/services" class="btn btn-primary btn-lg">Learn More&nbsp;<i class="fa fa-long-arrow-right"></i></a>
    </p>

  </div><!-- /.row -->
  </div><!-- /.container -->

</div><!-- /#family-business-banner -->
</section><!-- /#family-business-section -->
