
<section id="family-business-section" class="pallet background-slate">
<div id="family-business-banner">

  <div class="container horizontal-padding-large">
  <div class="row">

    <h1 class="text-center">What We Can Do For You</h1>

    <div class="col-lg-8 col-md-offset-2 text-center">
      <p class="lead">Placeholder ...</p>
    </div><!-- col-lg-8 -->
  
  </div><!-- /.row -->
  </div><!-- /.container -->

</div><!-- /#family-business-banner -->
</section><!-- /#family-business-section -->
