
<section id="trust" class="palette background-bright">
<div id="trust-banner">

    <div class="container container-large-padding">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <h3 class="text-center">Who <3&rsquo;s Us</h3>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-2 text-center">
            <p><i class="fa fa-3x fa-wordpress"></i></p>
            <p>Wordpress</p>
        </div><!-- col-lg-2 -->
            
        <div class="col-lg-2 text-center">
            <p><i class="fa fa-3x fa-wordpress"></i></p>
            <p>Magento</p>
        </div><!-- col-lg-2 --> 
        
        <div class="col-lg-2 text-center">
            <p><i class="fa fa-3x fa-wordpress"></i></p>
            <p>Shopify</p>
        </div><!-- col-lg-2 -->

        <div class="col-lg-2 text-center">
            <p><i class="fa fa-3x fa-wordpress"></i></p>
            <p>Wordpress</p>
        </div><!-- col-lg-2 -->
            
        <div class="col-lg-2 text-center">
            <p><i class="fa fa-3x fa-wordpress"></i></p>
            <p>Magento</p>
        </div><!-- col-lg-2 --> 
        
        <div class="col-lg-2 text-center">
            <p><i class="fa fa-3x fa-wordpress"></i></p>
            <p>Shopify</p>
        </div><!-- col-lg-2 -->
    
    </div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- /#trust-banner -->
</section><!-- /#trust -->
