
<section id="what-we-do" class="palette">
    <div id="what-we-do-banner">
        <div class="container-narrow horizontal-padding-large">
            <h2 class="text-center">We Have you Covered</h2>
            <p class="text-center">PixelNewt has years of experience developing and deploying solutions for businesses like yours.</p>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <h4><i class="fa fa-3x fa-desktop"></i><br />CMS</h4>
                        <p>Building a Content Management System using Drupal or WordPress means we leverage large dedicated communities of experts and you benefit from ease of management.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <h4><i class="fa fa-3x fa-credit-card"></i><br />E-Commerce</h4>
                        <p>You need an online store and we know how to create it.  Let's us show you how to present your catalog, manage your inventory, and process payments using Magento and WooCommerce.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <h4><i class="fa fa-3x fa-code"></i><br />Custom Development</h4>
                        <p>Not every website a blog or CMS.  We've built marketing intranets, custom helpdesk consoles, and data bridges to connect ERP systems to e-commerce websites.</p>
                    </div>
                </div>
            </div>
        </div><!-- /.container -->

        <div class="container horizontal-padding-medium">
        <div class="row">

        <p class="text-center">
            <a href="/expertise">We are Adroit&nbsp;<i class="fa fa-long-arrow-right"></i></a>
        </p>

        </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /#what-we-do-banner -->
</section><!-- /#what-we-do -->
