
<section id="navigation-tabs" class="palette background-bright">
<div id="navigation-tabs-banner">

  <div class="container container-narrow horizontal-padding-small">
  <div class="row">

    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li class="active"><a href="#overview" role="tab" data-toggle="tab">Overview</a></li>
      <li><a href="#webapps" role="tab" data-toggle="tab">Web & Mobile</a></li>
      <li><a href="#ecommerce" role="tab" data-toggle="tab">eCommerce</a></li>
      <li><a href="#saas" role="tab" data-toggle="tab">SaaS</a></li>
      <li><a href="#cloud" role="tab" data-toggle="tab">Cloud</a></li>
    </ul>

  </div><!-- /.row -->
  </div><!-- /.container -->

</div><!-- /#navigation-tabs-banner -->
</section><!-- /#navigation-tabs -->

<section id="what-we-do" class="palette background-bright">
<div id="what-we-do-banner">

  <div class="container horizontal-padding-large container-narrow">
  <div class="row">

        <!-- Tab panes -->
        <div class="tab-content">

          <div class="tab-pane fade in active" id="overview">
              <p class="lead text-center">What we do, and do well, is {{ site.tagline | downcase }}. Regardless of your business size or model, we can help you grow your Internet presence.</p>
          </div><!-- /#overview -->


          <div class="tab-pane fade" id="webapps">
            <div class="col-md-8 col-lg-8">
                <p>Your clients and customers can be fickle.  They expect a pleasing and functional experience when they visit regardles of the device they are using.</p>
                <p>We are experts at growing your online presence.  Let's us show you how we can create focus, target the right customers, and keep them loyal to your brand.</p>
            </div>
            
            <div class="col-md-4 col-lg-4">
                <img src="/assets/img/apps.png" class="img-responsive hidden-xs hidden-sm" alt="Responsiveness" />
                <div class="top-pad">
                  <a href="/services#webapps" class="btn btn-default btn-block">Learn More <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
          </div><!-- /#webapps -->


          <div class="tab-pane fade" id="ecommerce">
            <div class="col-md-4 col-lg-4">
                <img src="/assets/img/apps.png" class="img-responsive hidden-xs hidden-sm" alt="Responsiveness" />
                <div class="top-pad">
                  <a href="/services#ecommerce" class="btn btn-default btn-block">Learn More <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-md-8 col-lg-8">
              <p>Successful and secure commerce requires experience.</p>
              <p>We launched our first large scale web store in 2005.  Since then we've deployed many ecommerce web applications from small shops to multi-million dollar stores that fully integrate into ERP.</p>
            </div>
          </div><!-- /#ecommerce -->


          <div class="tab-pane fade" id="saas">
            <div class="col-md-8 col-lg-8">
              <p>Your idea is inventive &mdash; don't keep it all to yourself!  Instead, turn your vision into a service that others can use.</p>
              <p>{{site.title}} can show you how to use modern technology to leverage your idea and create a service that users will pay you for.</p>
            </div>
            
            <div class="col-md-4 col-lg-4">
                <img src="/assets/img/apps.png" class="img-responsive hidden-xs hidden-sm" alt="Responsiveness" />
                <div class="top-pad">
                  <a href="/services#saas" class="btn btn-default btn-block">Learn More <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
          </div><!-- /#saas -->
          

          <div class="tab-pane fade" id="cloud">
            <div class="col-md-4 col-lg-4">
                <img src="/assets/img/apps.png" class="img-responsive hidden-xs hidden-sm" alt="Responsiveness" />
                <div class="top-pad">
                  <a href="/services#cloud" class="btn btn-default btn-block">Learn More <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-md-8 col-lg-8">
              <p>Are your servers up? Is your application slowing to a crawl?  Are you protected from the most recent vulnerability?</p>
              <p>These are the things network engineers need to be concerned about &mdash; not you.    {{ site.title }} has experienced trained engineers that know how to manage your Internet.</p>
            </div>
          </div><!-- /#cloud -->

        </div>

  </div><!-- /.row -->
  </div><!-- /.container -->

</div><!-- /#what-we-do-banner -->
</section><!-- /#what-we-do -->
