

<section id="what-we-do" class="palette background-slate-lighten-25">
<div id="what-we-do-banner">

    <div class="container horizontal-padding-large container-narrow">
    <div class="row">

        <h2 class="text-sansfont text-center text-uppercase">What We Can Do</h2>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#overview" role="tab" data-toggle="tab">Overview</a></li>
          <li><a href="#webapps" role="tab" data-toggle="tab">Web & Mobile</a></li>
          <li><a href="#ecommerce" role="tab" data-toggle="tab">eCommerce</a></li>
          <li><a href="#saas" role="tab" data-toggle="tab">SaaS</a></li>
          <li><a href="#backend" role="tab" data-toggle="tab">Backend</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane fade in active" id="overview">
              <h3>Overview</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam accumsan pulvinar risus at consectetur. Nullam posuere eu est nec vulputate. Ut faucibus, ante id tincidunt consectetur, ipsum erat sollicitudin dui, at fringilla nulla turpis et ante. Nullam eget sapien lacinia, placerat lorem non, commodo orci. Maecenas malesuada enim sem, at imperdiet justo pharetra sit amet. Aliquam imperdiet, turpis ut scelerisque lacinia, magna purus pulvinar urna, in rutrum ipsum tortor id velit. Suspendisse sed rhoncus mi, vel placerat lorem.</p>
          </div>
          <div class="tab-pane fade" id="webapps">
              <h3>Web Applications</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam accumsan pulvinar risus at consectetur. Nullam posuere eu est nec vulputate. Ut faucibus, ante id tincidunt consectetur, ipsum erat sollicitudin dui, at fringilla nulla turpis et ante. Nullam eget sapien lacinia, placerat lorem non, commodo orci. Maecenas malesuada enim sem, at imperdiet justo pharetra sit amet. Aliquam imperdiet, turpis ut scelerisque lacinia, magna purus pulvinar urna, in rutrum ipsum tortor id velit. Suspendisse sed rhoncus mi, vel placerat lorem.</p>
          </div>
          <div class="tab-pane fade" id="ecommerce">
              <h3>eCommerce</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam accumsan pulvinar risus at consectetur. Nullam posuere eu est nec vulputate. Ut faucibus, ante id tincidunt consectetur, ipsum erat sollicitudin dui, at fringilla nulla turpis et ante. Nullam eget sapien lacinia, placerat lorem non, commodo orci. Maecenas malesuada enim sem, at imperdiet justo pharetra sit amet. Aliquam imperdiet, turpis ut scelerisque lacinia, magna purus pulvinar urna, in rutrum ipsum tortor id velit. Suspendisse sed rhoncus mi, vel placerat lorem.</p>
          </div>
          <div class="tab-pane fade" id="saas">
              <h3>Software as a Service</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam accumsan pulvinar risus at consectetur. Nullam posuere eu est nec vulputate. Ut faucibus, ante id tincidunt consectetur, ipsum erat sollicitudin dui, at fringilla nulla turpis et ante. Nullam eget sapien lacinia, placerat lorem non, commodo orci. Maecenas malesuada enim sem, at imperdiet justo pharetra sit amet. Aliquam imperdiet, turpis ut scelerisque lacinia, magna purus pulvinar urna, in rutrum ipsum tortor id velit. Suspendisse sed rhoncus mi, vel placerat lorem.</p>
          </div>
          <div class="tab-pane fade" id="backend">
              <h3>Hosting & Maintenance</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam accumsan pulvinar risus at consectetur. Nullam posuere eu est nec vulputate. Ut faucibus, ante id tincidunt consectetur, ipsum erat sollicitudin dui, at fringilla nulla turpis et ante. Nullam eget sapien lacinia, placerat lorem non, commodo orci. Maecenas malesuada enim sem, at imperdiet justo pharetra sit amet. Aliquam imperdiet, turpis ut scelerisque lacinia, magna purus pulvinar urna, in rutrum ipsum tortor id velit. Suspendisse sed rhoncus mi, vel placerat lorem.</p>
          </div>
        </div>

    </div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- /#what-we-do-banner -->
</section><!-- /#what-we-do -->
