
<section id="work" class="palette palette-dark-light">
<div id="work-banner">

    <div class="container container-extra-padding">
    <div class="row">
        <h1 class="centerify">Relentless</h1>
        <p class="centerify lead">The {{site.title}} agency is a collection of dauntless, passionate, professional, artisans in love with making the web.</p>
        <p class="centerify lead">We never accept good enough.</p>
    
    </div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- /#work-banner -->
</section><!-- /#work -->
