
<footer>
  <section id="footer-information-section" class="palette">
  <div id="footer-information">

    <div class="container">
    <div class="row" id="footer-links">

      <div class="col-md-3 col-lg-3" id="footer-site-navigation">
        <h5>Site</h5>
        <ul class="list-unstyled">
    
            {% for footerLink in site.data.footerlinks %}
        
            {% if footerLink.route == page.active %}
            <li class="active"><a href="{{ site.baseurl }}/{{ footerLink.route }}/">{{ footerLink.title }}</a></li>
            {% else %}
            <li><a href="{{ site.baseurl }}/{{ footerLink.route }}/">{{ footerLink.title }}</a></li>
            {% endif %}
                
            {% endfor %}

        </ul>
      </div><!-- /#footer-site-navigation -->

      <div class="col-md-3 col-lg-3" id="footer-contact-information">
        <h5>{{ site.title }}</h5>
          <address class="vcard">
            <div class="company-name">{{ site.company }}</div>
            <!-- <div class="street-address"></div>  -->
            <div class="full-address">
                <span class="map">
                <a href="https://www.google.com/maps/@45.3687069,-122.640102,11z" target="_blank">
                <span class="city">West Linn</span>&nbsp;
                <span class="state">Oregon</span>,&nbsp;
                <span class="postal-code">97068</span>&nbsp;
                </a></span>
            </div>

            <div class="email"></div>
            <div class="phone"><a href="tel:{{ site.phone-number }}"><i class="fa fa-phone"></i>&nbsp;{{ site.phone-string }}</a></div>
          </address>

      </div><!-- /#footer-contact-information -->

      <div class="col-md-3 col-lg-3" id="footer-social-links">
        <h5>Connect & Support</h5>
        <ul class="list-unstyled">
          <li><i class="fa fa-envelope"></i>&nbsp;
            <script>document.write('<'+'a'+' '+'h'+'r'+'e'+'f'+'='+"'"+'m'+'a'+'i'+'l'+'t'+'o'+'&'+'#'+'5'+'8'+';'+'h'+'&'+'#'+'1'+'0'+
  '1'+';'+'&'+'#'+'3'+'7'+';'+'&'+'#'+'5'+'4'+';'+'C'+'&'+'#'+'3'+'7'+';'+'&'+'#'+'5'+'4'+';'+'C'+'&'+
  '#'+'3'+'7'+';'+'6'+'&'+'#'+'7'+'0'+';'+'&'+'#'+'6'+'4'+';'+'p'+'i'+'x'+'e'+'%'+'6'+'C'+'&'+'#'+'1'+
  '1'+'0'+';'+'e'+'w'+'t'+'&'+'#'+'4'+'6'+';'+'c'+'&'+'#'+'3'+'7'+';'+'6'+'F'+'m'+"'"+'>'+'h'+'e'+'l'+
  'l'+'o'+'&'+'#'+'6'+'4'+';'+'p'+'&'+'#'+'1'+'0'+'5'+';'+'&'+'#'+'1'+'2'+'0'+';'+'e'+'&'+'#'+'1'+'0'+
  '8'+';'+'n'+'e'+'w'+'&'+'#'+'1'+'1'+'6'+';'+'&'+'#'+'4'+'6'+';'+'c'+'&'+'#'+'1'+'1'+'1'+';'+'m'+'<'+
  '/'+'a'+'>');</script></li>
          {% for socialLink in site.data.social %}
          {% if socialLink.icon %}
          <li><i class="{{ socialLink.icon }}" title="{{ socialLink.title }}"></i>&nbsp;<a href="{{ socialLink.url }}" target="_blank">{{ socialLink.title }}</a></li>
          {% endif %}                
          {% endfor %}
        </ul>
      
      </div><!-- /#footer-social-links -->

      <div class="col-md-3 col-lg-3" id="footer-blog-links">
        <h5>Latest Posts</h5>

        <ul class="list-unstyled">
          {% for post in site.posts %}
          {% if post.published == 'true' %}
          <li><i class="fa fa-pencil-square"></i>&nbsp;<a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
          {% endfor %}
          <li><i class="fa fa-rss"></i>&nbsp;<a href="{{ site.baseurl }}/rss.xml">RSS</a></li>
        </ul>
      </div><!-- /#footer-blog-links -->

    </div><!-- /.row -->
    </div><!-- /.container -->

  </div><!-- /#footer-information -->
  </section><!-- /#footer-information-section -->

  <section id="footer-copyright-section" class="palette">
  <div id="footer-copyright">
    
    <div class="container horizontal-padding-medium">
    <div class="row">
  
        <div class="col-md-12 col-lg-12">
        <p class="text-steel-blue text-center">&copy; Copyright {{ site.time | date: '%Y' }} &mdash; {{ site.company }}</p>
        </div>

      
    </div><!-- /.row -->
    </div><!-- /.container -->

  </div><!-- /#footer-copyright -->
  </section><!-- /#footer-copyright-section -->

</footer>

{% include scaffold/scripts.html %}
{% include scaffold/analytics.html %}
