---
layout: page
title: Contact
header: "Contact Us"
active: contact
banner: "contact-header-banner"
meta: "contact email phone address"
---

<section id="phone" class="palette background-steel">
<div id="phone-banner">

    <div class="container horizontal-padding-small">
    <div class="row">
        <h3 class="text-center text-scriptfont">{% include blocks/phone.html %}</h3>
    </div>
    </div><!-- /.container -->

</div><!-- /#phone-banner -->
</section><!-- /#phone -->

<section id="contact-message" class="palette background-bright">    
<div id="contact-message-banner">

    <div class="container horizontal-padding-large container-narrow">
    <div class="row">
    
        <p>Contacting {{site.title}} doesn't cost a thing!  We offer free advise and guidance for your web application, software service, and server operation questions.  If we can help, we can discuss an arrangement or agreement.  If we can't help you we will find someone who can.</p>
        <p>We would love to hear from you!</p>
        <p>With <i class="fa fa3x fa-heart"></i>, the {{site.title}} team.</p>
    
    </div><!-- /.row -->
    </div><!-- /.container -->
    
</div><!-- /#contact-message-banner -->
</section><!-- /#contact-message -->


<section id="contact-links" class="palette background-steel">    
<div id="contact-links-banner">

    <div class="container horizontal-padding-medium container-narrow">
    <div class="row">
        
        <div class="col-md-4 col-lg-4" id="box-1">
        <div class="panel panel-default">
            <h4 class="text-center text-dark-yellow"><i class="fa fa3x fa-envelope"></i> Email Us</h4>
            <p class="text-center">{% include blocks/email.html %}</p>
        </div>
        </div><!-- /#box-1 -->
        
        <div class="col-md-4 col-lg-4" id="box-2">
        <div class="panel panel-default">
            <h4 class="text-center text-dark-yellow"><i class="fa fa-twitter"></i> Tweet Us </h4>
            <p class="text-center">
                <a href="http://twitter.com/" target="_blank">@{{ site.baseuser }}</a>
            </p>
        </div>
        </div><!-- /#box-2 -->
        
        <div class="col-md-4 col-lg-4" id="box-3">
        <div class="panel panel-default">
            <h4 class="text-center text-dark-yellow"><i class="fa fa-google-plus" title="Google Plus"></i> Hangout</h4>
            <p class="text-center">
                <a href="https://plus.google.com/+pixelnewt" target="_blank">+{{ site.baseuser }}</a>
            </p>
        </div>
        </div><!-- /#box-3 -->
    
    </div><!-- /.row -->
    </div><!-- /.container -->
    
</div><!-- /#contact-links-banner -->
</section><!-- /#contact-links -->