<a class="logo" href="/">Home</a>

<ul class="nav">

    <!-- stats -->
    {% for stat in site.data.stats %}
    <li><a href="{{ stat.slug }}">{{ stat.name }}</a></li>
    {% endfor %}

    <!-- posts -->
    {% if site.posts %}

    <li class="header">Posts</li>
    
    {% for post in site.posts %}
    
    {% if post.category != 'draft' %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}

    {% endfor %}

    {% endif %}
</ul>

<ul class="nav hidden-xs" id="sidebar-footer">

    <!-- footer -->
    {% for foot in site.data.footer %}

    {% if foot.icon %}
    <li><a href="{{ foot.url }}" target="_blank"><i class="{{ foot.icon }}"></i> {{ foot.title }}</a></li>
    {% else %}
    <li><a href="{{ foot.url }}" target="_blank">{{ foot.title }}</a></li>
    {% endif %}
        
    {% endfor %}

</ul>
