
<footer>
    <div class="container container-narrow" id="footer">
        <div class="row">
            <div class="col-md-6" id="footer-links">
                <ul class="list-inline">
                    <li><a href="/about/">About</a></li>
                    <li><a href="/blog/">Blog</a></li>
                    <li><a href="/terms/">Terms</a></li>
                    <li><a href="/pricing/">Pricing</a></li>
                    <li><a href="/security/">Security</a></li>
                    <li><a href="/mission/">Mission</a></li>
                </ul>
                <p class="text-steel-blue">&copy; Copyright {{ site.time | date: '%Y' }} &mdash; {{ site.company }}</p>
            </div><!-- /#footer-column-1 -->

            <div class="col-md-6 text-right" id="footer-social">
                {% if site.data.social %}
                <ul class="list-inline">
            
                    {% for socialLink in site.data.social %}

                    {% if socialLink.icon %}
                    <li><a href="{{ socialLink.url }}" target="_blank"><i class="{{ socialLink.large_icon }}" title="{{ socialLink.title }}"></i></a></li>
                    {% endif %}
                        
                    {% endfor %}

                </ul>
                {% endif %}
            </div><!-- /#footer-column-2 -->
        </div><!-- /.row -->
    </div><!-- /.container -->

</footer>

{% include scripts.html %}
{% include analytics.html %}
