
<head>

<!-- 
          III                    LLL                                 TTT
         III                    LLL                                 TTT
                               LLL                                 TTT
PPPPPPP  III XXX  XXX  EEEEEE  LLL NNNNNNN   EEEEEE  WWW  WWW  WWW TTTTTT
PPP PPPP III  XXXXXX  EEE  EEE LLL NNN NNNN EEE  EEE WWW  WWW  WWW TTT
PPP  PPP III   XXXX   EEEEEEEE LLL NNN  NNN EEEEEEEE WWW  WWW  WWW TTT
PPP PPPP III  XXXXXX  EEEE     LLL NNN  NNN EEEE     WWWW WWW WWWW TTTT
PPPPPPP  III XXX  XXX  EEEEEE  LLL NNN  NNN  EEEEEE   WWWWWWWWWWW   TTTTT
PPP
PPP
PPP

ASCII bombed by: http://pixelnewt.com/
-->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <link rel="icon" type="image/ico" href="/assets/ico/favicon.png" />
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab|Roboto|Inconsolata' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/icomoon.css">
    <link rel="stylesheet" href="/assets/css/animate-custom.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

</head>
