<div class="page-header">
    <h1>Derek Nutile <small>Developer, Maker</small></h1>
</div>

<div id="sections">
    <section>
        <header>I'm a back end developer at <a href="http://thegood.com/" title="The Good" target="_blank">The Good</a>.</header>
        <p>Lead back end developer is my title, but I'm truly a <em>full-stack</em> developer.  Look at my <a href="/resume">resume</a> to see my skillset.</p>
    </section>
    
    <section>
        <header>I Code, a lot.</header>
        <p>Want to see how the sausage is made?  Check out my work on <a href="https://github.com/dereknutile" title="Git" target="_blank">Github</a> and <a href="https://bitbucket.org/dereknutile" target="_blank">BitBucket</a>.  Or review my <a href="/portfolio">portfolio</a>.</p>
    </section>
    
    <section>
        <header>I'm AntiSocial</header>
        <p>But, I can be occasionally found on <a href="http://twitter.com/dereknutile" target="_blank">Twitter</a>, <a href="http://www.linkedin.com/pub/derek-nutile/5/454/53a/" target="_blank">LinkedIn</a> and <a href="http://stackoverflow.com/users/1410480/derek-nutile" target="_blank">StackOverflow</a>.</p>
    </section>
    
    <section>
        <header>Oh, I like to be fit and <a href="http://connect.garmin.com/profile/dereknutile" title="Garmin" target="_blank">run</a>.</header>
    </section>
</div>