
<div id="sections">

    <section id="hero">
        <div class="container">
            <h1>Not Another <del>Agency</del></h1>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div>
                        <img src="assets/img/glossy-imac-monitor.png" id="hero-image" />
                    </div>
                    <h2>{Why PixelNewt is different}</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet hendrerit velit, quis suscipit purus. Curabitur aliquam eleifend ultrices. Aenean ultricies vel velit sit amet vulputate. Donec ornare leo eu felis commodo, sed tincidunt lectus molestie. Aliquam quis neque at nisl volutpat ornare. Cras feugiat metus eget ipsum egestas, ac faucibus est sollicitudin. Donec sit amet luctus neque.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <h1>Services</h1>
            <h2>We've done it all</h2>
            <div class="row" id="our-services">

                <div class="col-sm-6 service">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">Reboot</div>
                        <p>Reboot your website.</p>
                    </a>
                </div>

                <div class="col-sm-6 service">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">E-commerce</div>
                        <img src="http://lorempixel.com/g/360/260/" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-6 service">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">E-commerce</div>
                        <img src="http://lorempixel.com/g/360/260/" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-6 service">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">E-commerce</div>
                        <img src="http://lorempixel.com/g/360/260/" class="img-responsive" alt="">
                    </a>
                </div>
            </div>

            <div class="row" id="product-support">
            <h2>We know your stack</h2>
                <ul>
                    <li>Wordpress</li>
                    <li>Magento</li>
                    <li>ExpressionEngine</li>
                </ul>
            </div>
        </div>
    </section>

    <section id="portfolio">
        <div class="container">
            <h1>Works</h1>

            <div class="row" id="portfolio-blocks">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="http://lorempixel.com/g/360/260/" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="http://lorempixel.com/g/360/260/" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="http://lorempixel.com/g/360/260/" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="http://lorempixel.com/g/360/260/" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="http://lorempixel.com/g/360/260/" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="http://lorempixel.com/g/360/260/" class="img-responsive" alt="">
                    </a>
                </div>
            </div><!-- /#portfolio-blocks -->

        </div><!-- /.container -->
    </section><!-- /#portfolio -->


    <section id="about">
        <div class="container">
            <h1>About</h1>
            <div class="row">
                <div class="col-lg-12 text-center">About ...</div>
            </div>

            <div class="team">
                <div id="member">
                    <img src="assets/img/derek.jpg" alt="Derek" class="mugshot">
                    <h5>Derek Nutile</h5>
                    <h6>Web Developer</h6>
                    <div>
                        <a href="https://twitter.com/dereknutile">Twitter</a>
                    </div>
                </div> <!-- /#member -->
            </div><!-- /.team -->

        </div><!-- /.container -->
    </section>


    <section id="contact">
        <div class="container">
            <h1>Contact</h1>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <form role="form">
                        <div class="row">
                            <div class="form-group col-xs-12 floating-label-form-group">
                                <label for="name">Name</label>
                                <input class="form-control" type="text" name="name" placeholder="Name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12 floating-label-form-group">
                                <label for="email">Email Address</label>
                                <input class="form-control" type="email" name="email" placeholder="Email Address">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12 floating-label-form-group">
                                <label for="message">Message</label>
                                <textarea placeholder="Message" class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-lg">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </section>
</div>