
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{site.meta_content}}"/>

    <link rel="canonical" href="{{site.url}}" />

    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{site.company}} / {{site.meta_tagline}} / {{site.address}}" />
    <meta property="og:description" content="{{site.meta_content}}" />
    <meta property="og:url" content="{{site.url}}" />
    <meta property="og:site_name" content="{{site.title}}" />
    <meta property="og:image" content="{{site.url}}assets/img/favicon.png" />
    <meta name="twitter:card" content="{{site.title}}"/>
    <meta name="twitter:site" content="@{{site.baseuser}}"/>
    <meta name="twitter:domain" content="{{site.title}}"/>
    <meta name="twitter:creator" content="@{{site.baseuser}}"/>
