
<div id="sections">

    {% include sections/hero.html %}

    {% include sections/whoweare.html %}

<section id="goal-number-1" class="palette background-simple">
<div id="goal-number-1-banner">

    <div class="container container-large-padding">
    <div class="row">

        <div class="col-md-6 col-lg-6">
            <h2 class="text-steel-blue">Title</h2>
            <h3>Subtle summary subtitle</h3>
            <p class="lead">Lipsum copy goes here.</p>
            <a href="/" type="button" class="btn btn-default">Read More</a>
        </div>
        
        <div class="col-md-6 col-lg-6">
            <img src="/assets/img/responsive-app.jpg" class="img-responsive hidden-xs hidden-sm" alt="Responsiveness" />
        </div>
    
    </div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- /#goal-number-1-banner -->
</section><!-- /#goal-number-1 -->

    {% include sections/bar.html %}

<section id="goal-number-2" class="palette background-simple">
<div id="goal-number-2-banner">

    <div class="container container-large-padding">
    <div class="row">
        
        <div class="col-md-6 col-lg-6">
            <img src="/assets/img/responsive-app.jpg" class="img-responsive hidden-xs hidden-sm" alt="Responsiveness" />
        </div>

        <div class="col-md-6 col-lg-6">
            <h2 class="text-steel-blue">Title</h2>
            <h3>Subtle summary subtitle</h3>
            <p class="lead">Lipsum copy goes here.</p>
            <a href="/" type="button" class="btn btn-default">Read More</a>
        </div>
    
    </div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- /#goal-number-2-banner -->
</section><!-- /#goal-number-2 -->

</div><!-- /#sections -->