/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* font imports
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/*script*/
@import url(http://fonts.googleapis.com/css?family=Lobster);

/*sans serif*/
@import url(http://fonts.googleapis.com/css?family=Raleway);

/*serif*/
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
/*@import url(http://fonts.googleapis.com/css?family=Arvo);*/

/*monospace*/
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* global variables for SASS/SCSS*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/*variables -- fonts*/
$monoSpaceFont: Inconsolata, Courier, monospace;
$serifFont: 'Roboto Slab', Times, serif;
$sansSerifFont: Raleway, Helvetica, Arial, sans-serif;
$scriptFont: 'Lobster';

/*variables -- sizes*/

/*variables -- colors*/
$paleYellow: #f1c232;
$mediumYellow: #bf9000;
$darkYellow: #7f6000;
$steelBlue: #4882ad;
$offWhite: #fdfdfd;
$darkSlate: #27343d;

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*global resets*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #f9f9f9;
  font-family: $sansSerifFont;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  font-family: $serifFont;
  font-size: 100%;
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a { color: $darkSlate; }
a:hover { color: $darkSlate; }
a:visited { color: $darkSlate; }


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*Bootstrap overrides*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

hr {
  border-top: 1px solid lighten( $darkSlate, 50% );
}

.container-narrow {
  width: 760px;
  margin-right: auto;
  margin-left: auto;
}

.container-medium-padding {
  padding: 24px 0 48px 0;
}

.container-large-padding {
  padding: 48px 0 96px 0;
}

.jumbotron {
  
}

.lead {
  font-size: 24px;
}

.page-header {

}

.navbar {
  font-family: $scriptFont;
}

.navbar-default {
  border-color: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
color: inherit;
background-color: inherit;
text-decoration: underline;
}

.white-opacity {
  background:#7f7f7f;
  background:rgba(255,255,255,0.8);
  border-color: transparent;
}

h1 small {
  padding-left: 15px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*palettes*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.palette {}

.palette h2 {
  font-size: 48px;
  font-weight: 100;
}

.palette h3 {
  font-size: 36px;
  font-weight: 100;
}

.background-simple {
  background-color: #fff;
}

.background-pale {
  background-color: lighten( $paleYellow, 22%);
  color: #000;
}

.background-steel {
  background-color: darken( $steelBlue, 15% );
  color: $offWhite;
}

.background-slate {
  background-color: $darkSlate;
  color: $offWhite;
}

.background-dark {
  background-color: #000;
  color: $darkYellow;
}

.background-bright {
  background-color: $offWhite;
  color: #000;
}

.background-bright h3 {
  font-family: $scriptFont;
  font-size: 40px;
  color: #000;
  font-weight: 50;
}

.palette-dark-white {
  background-color: #000;
  color: $offWhite;
}

.palette-gray-dark {
  background-color: lighten( $darkSlate, 75% );
  color: $darkSlate;
}

.palette-light-dark {
  background-color: #fff;
  color: $darkSlate;
}

.palette-light-dark h4 {
  font-size: 24px;
  font-weight: 300;
  color: $mediumYellow;
}

.single-border-top-slate {
  border-top: 1px solid lighten( $darkSlate, 65% );
}

.single-border-bottom-slate {
  border-bottom: 1px solid lighten( $darkSlate, 65% );
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*text dressing*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.text-white {
  color: #fff;
}

.pale-yellow {
  color: $paleYellow;
}

.medium-yellow {
  color: $mediumYellow;
}

.dark-yellow {
  color: $darkYellow;
}

.text-slate {
  color: darkSlate;
}

.text-steel-blue {
  color: $steelBlue;
}

.shadow-black {
  text-shadow: 1px 1px 1px #000;
}

.shadow-slate {
  text-shadow: 1px 1px 1px $darkSlate;
}


/*banners*/
#hero-banner {
  background: url(../img/map.jpg) no-repeat center top;
  background-attachment: relative;
  background-position: top center;
  min-height: 450px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#hero-banner h1 {
  padding-top: 48px;
  font-size: 96px;
  text-align: center;
}

#workethic-banner {
  background: url(../img/waves.jpg) no-repeat center top;
  background-attachment: relative;
  background-position: center center;
  height: 350px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#contact-banner h4 {
  padding-top: 36px;
}

#contact-banner h4 a {
  color: $offWhite;
  font-size: 24px;
}

/*sections*/
section {
  margin: 0;
  padding: 0;
}

section h1 {
  font-size: 48px;
}

section p {
  font-size: 125%;
}

.centerify {
  text-align: center;
}

.team {
  text-align: center;
}

/*hero*/
section#hero {
  background-color: #fff;
}

img#hero-image {
  margin: 0 auto;
  width: 500px;
  height: 500px;
}


/*about*/
img.mugshot {
  width: 174px;
  height: 174px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/*responsive*/
@media (max-width: 768px) {
  .logo-image {
    display: none;
  }

  .lead {
    font-size: 24px;
    text-shadow: 1px 1px 1px #000;
  }

  #hero-banner h1 {
    color: $paleYellow;
    font-size: 64px;
  }

  .row {
    margin-left: -15px;
    margin-right: -15px;
    padding: 0 18px 0 18px;
  }
}

/*footer*/

footer {
  background: url(../img/footer-map.jpg) no-repeat center top;
  background-attachment: relative;
  background-position: top center;
  min-height: 350px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 48px 0 48px;
  color: $offWhite;
}

#footer a {
  color: $paleYellow;
}


/*fin*/