/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* font imports
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/*script*/
@import url(http://fonts.googleapis.com/css?family=Lobster);

/*sans serif*/
@import url(http://fonts.googleapis.com/css?family=Raleway);

/*serif*/
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
/*@import url(http://fonts.googleapis.com/css?family=Arvo);*/

/*monospace*/
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* global variables for SASS/SCSS*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/*variables -- fonts*/
$monoSpaceFont: Inconsolata, Courier, monospace;
$serifFont: 'Roboto Slab', Times, serif;
$sansSerifFont: Raleway, Helvetica, Arial, sans-serif;
$scriptFont: 'Lobster';

/*variables -- sizes*/

/*variables -- colors*/
$paleYellow: #f1c232;
$mediumYellow: #bf9000;
$darkYellow: #7f6000;
$steelBlue: #4882ad;
$offWhite: #fdfdfd;
$darkSlate: #27343d;

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*global resets*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #f9f9f9;
  font-family: $sansSerifFont;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  font-family: $serifFont;
  font-size: 100%;
}

h1 { margin-bottom: 1em; }

p, ul, ol {
  font-size: 20px;
  font-family: $sansSerifFont;
  line-height: 30px;
}

a { color: $darkSlate; }
a:hover { color: $darkSlate; }
a:visited { color: $darkSlate; }


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*Bootstrap overrides*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

hr {
  border-top: 1px solid lighten( $darkSlate, 50% );
}

blockquote {
  padding: 20px;
  font-size: 30px;
  font-family: $scriptFont;
  color: $darkSlate;
  border-left: 0;  
}

.container-narrow {
  width: 760px;
  margin-right: auto;
  margin-left: auto;
}

.lead {
  font-size: 24px;
}

.page-header {
  font-weight: 100; 
  color: $offWhite;
  border-bottom: 0;
  text-shadow: 1px 1px 1px #000;
}

.navbar {
  font-family: $serifFont;
}

#nav-links {
  font-size: 14px;
  font-weight: 50;
}

.navbar-brand {
  font-family: $scriptFont;
  font-weight: 100;
  font-size: 30px;
}

.navbar-default {
  border-color: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: $mediumYellow;
  font-weight: bold;
  background-color: inherit;
}

.white-opacity {
  background:#7f7f7f;
  background:rgba(255,255,255,0.8);
  border-color: transparent;
}

h1 small {
  padding-left: 15px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*palettes*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.palette {}

.palette h2 {
  font-size: 48px;
  font-weight: 100;
}

.palette h3 {
  font-size: 36px;
  font-weight: 100;
}

.palette h4 {
  font-size: 24px;
  font-weight: 300;
}

.horizontal-padding-small {
  padding: 8px 0 8px 0;
}

.horizontal-padding-medium {
  padding: 24px 0 24px 0;
}

.horizontal-padding-large {
  padding: 48px 0 96px 0;
}

.background-pale {
  background-color: lighten( $paleYellow, 22%);
  color: #000;
}

.background-steel {
  background-color: darken( $steelBlue, 15% );
  color: $offWhite;
}

.background-slate {
  background-color: $darkSlate;
  color: $offWhite;
}

.background-slate-lighten-25 {
  background-color: lighten( $darkSlate, 25% );
  color: $offWhite;
}

.background-slate-lighten-45 {
  background-color: lighten( $darkSlate, 45% );
  color: $darkSlate;
}

.background-slate-lighten-65 {
  background-color: lighten( $darkSlate, 65% );
  color: $darkSlate;
}

.background-slate-lighten-85 {
  background-color: lighten( $darkSlate, 85% );
  color: $darkSlate;
}

.background-dark {
  background-color: #000;
  color: $darkYellow;
}

.background-bright {
  background-color: $offWhite;
  color: #000;
}

.single-border-top-slate {
  border-top: 1px solid lighten( $darkSlate, 65% );
}

.single-border-bottom-slate {
  border-bottom: 1px solid lighten( $darkSlate, 65% );
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*text dressing*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.text-indent {
  padding-left: 24px;
}

.text-white {
  color: #fff;
}

.text-pale-yellow {
  color: $paleYellow;
}

.text-medium-yellow {
  color: $mediumYellow;
}

.text-dark-yellow {
  color: $darkYellow;
}

.text-slate {
  color: $darkSlate;
}

.text-steel-blue {
  color: $steelBlue;
}

.text-shadow-black {
  text-shadow: 1px 1px 1px #000;
}

.text-shadow-black strong {
  color: $paleYellow;
}

.text-shadow-slate {
  text-shadow: 1px 1px 1px $darkSlate;
}

.text-scriptfont {
  font-family: $scriptFont;
}

.text-codefont {
  font-family: $monoSpaceFont;
}

.text-sansfont {
  font-family: $sansSerifFont;
}

.text-seriffont {
  font-family: $serifFont;
}

/*banners*/
#hero-banner {
  background: url(../img/map.jpg) no-repeat center top;
  background-attachment: relative;
  background-position: top center;
  min-height: 450px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#hero-banner h1 {
  padding-top: 48px;
  font-size: 96px;
  text-align: center;
}

#workethic-banner {
  background: url(../img/waves.jpg) no-repeat center top;
  background-attachment: relative;
  background-position: center center;
  height: 350px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#contact-banner h4 {
  padding-top: 36px;
}

#contact-banner h4 a {
  color: $steelBlue;
  font-size: 24px;
}

#contact-header-banner {
  background: url(../img/contact-header-banner.jpg) no-repeat center top;
  background-attachment: relative;
  background-position: center left;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about-header-banner {
  background: url(../img/about-header-banner.jpg) no-repeat center top;
  background-attachment: relative;
  background-position: center left;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#mission-header-banner {
  background: url(../img/mission-header-banner.jpg) no-repeat center top;
  background-attachment: relative;
  background-position: center left;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#terms-header-banner {
  background: url(../img/terms-header-banner.jpg) no-repeat center top;
  background-attachment: relative;
  background-position: center left;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#apps-header-banner {
  background: url(../img/not-a-business-card.jpg) no-repeat center top;
  background-attachment: relative;
  background-position: center left;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#hosting-header-banner {
  background: url(../img/hosting-banner.jpg) no-repeat center top;
  background-attachment: relative;
  background-position: center left;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#code-header-banner {
  background: url(../img/code-banner.jpg) no-repeat center top;
  background-attachment: relative;
  background-position: center left;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#blog-header-banner {
  background: url(../img/blog-banner.jpg) no-repeat center top;
  background-attachment: relative;
  background-position: center left;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*sections*/
section {
  margin: 0;
  padding: 0;
}

section ul, section ol {
  padding-left: 36px;
}

section h1 {
  font-size: 48px;
}

.team {
  text-align: center;
}

/*hero*/
section#hero {
  background-color: #fff;
}

img#hero-image {
  margin: 0 auto;
  width: 500px;
  height: 500px;
}


/*about*/
img.mugshot {
  width: 174px;
  height: 174px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.posted-date {
  font-weight: 100;
  font-family: $sansSerifFont;
  color: lighten( $darkSlate, 15% );
}

/*responsive*/
@media (max-width: 768px) {
  .logo-image {
    display: none;
  }

  .lead {
    font-size: 24px;
    text-shadow: 1px 1px 1px #000;
  }

  #hero-banner h1 {
    color: $paleYellow;
    font-size: 64px;
  }

  section ul, section ol {
    padding-left: 12px;
  }

  .container-narrow {
    width: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .row {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0 18px 0 18px;
  }
}

/*footer*/

footer {
  background: url(../img/footer-map.jpg) no-repeat center top;
  background-attachment: relative;
  background-position: top center;
  min-height: 350px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 64px 0 48px;
  color: $offWhite;
}

footer p, footer ul, footer ol {
  font-size: 14px;
  line-height: 20px;
  padding-left: 0px;
}

#footer a {
  color: lighten( $steelBlue, 35% );
}

#footer-social a {
  color: $offWhite;
}

#footer-links a {
  color: $paleYellow;
}

#footer-links .active a {
  text-decoration: underline;
}

/*fin*/