/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* font imports
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/*script*/
@import url(http://fonts.googleapis.com/css?family=Lobster+Two);

/*sans serif*/
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300);

/*serif*/
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);

/*monospace*/
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* global variables for SASS/SCSS*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/*variables -- fonts*/
$fontStyleCode: Inconsolata, Courier, monospace;
$fontProfessional: 'Roboto Slab', Times, serif;
$fontPrimary: Raleway, Helvetica, Arial, sans-serif;
$fontSecondary: 'Yanone Kaffeesatz', Helvetica, Arial, sans-serif;
$fontFancy: 'Lobster Two';

/*variables -- sizes*/

/*variables -- colors*/
$paleYellow: #f1c232;
$mediumYellow: #bf9000;
$darkYellow: #7f6000;
$steelBlue: #4882ad;
$offWhite: #fdfdfd;
$darkSlate: #27343d;

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*global resets*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #f9f9f9;
  font-family: $fontSecondary;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  font-family: $fontProfessional;
  font-size: 100%;
}

h1 { margin-bottom: 1em; }

p, ul, ol {
  font-size: 24px;
  font-family: $fontSecondary;
  line-height: 30px;
}

a { color: $darkSlate; }
a:hover { color: $darkSlate; }
a:visited { color: $darkSlate; }

a.light-link { color: $offWhite; }
a.light-link:hover { color: $offWhite; }
a.light-link:visited { color: $offWhite; }

article {
  background-color: lighten( $steelBlue, 33% );
  margin-bottom: 24px;
  padding: 4px 16px 8px 16px;
}

article:hover {
  background-color: lighten( $paleYellow, 33% );
  transition: background-color 0.5s ease;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*Bootstrap overrides*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.row {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0 18px 0 18px;
}

hr {
  border-top: 1px solid lighten( $darkSlate, 50% );
}

blockquote {
  padding: 20px;
  font-size: 30px;
  font-family: $fontFancy;
  color: $darkSlate;
  border-left: 0;  
}

.cancel-col-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.container-narrow {
  width: 760px;
  margin-right: auto;
  margin-left: auto;
}

.lead {
  font-size: 30px;
  line-height: 36px;
  padding-bottom: 16px;
}

.page-header {
  font-weight: 100; 
  color: $offWhite;
  border-bottom: 0;
  text-shadow: 1px 1px 1px #000;
}

.navbar {
}

#nav-links {
  font-family: $fontProfessional;
  font-size: 16px;
  font-weight: 100;
}

.dropdown-menu {
  font-family: $fontProfessional;
  font-size: 14px;
  font-weight: 100; 
}

.navbar-brand {
  font-family: $fontFancy;
  font-weight: 100;
  font-size: 30px;
}

.navbar-default {
  border-color: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background-color: rgba( $paleYellow, .33);
}

.nav-pills {
  font-family: $fontProfessional;
}

.nav-pills>li {
  font-size: 16px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  color: $offWhite;
  background-color: $darkSlate;
}

.nav-pills>li>a {
  border-radius: 0px;
  /*padding: 10px 15px;*/
}

.nav-pills>li>a:hover {
  background-color: lighten( $steelBlue, 10% );
  color: $offWhite;
  transition: background-color 0.5s ease;
}

/*not a real override, but this changes the navbar*/
.white-opacity {
  background:#7f7f7f;
  background:rgba(255,255,255,0.8);
  border-color: transparent;
}

h1 small {
  padding-left: 15px;
}

.btn {
  border-radius: 0px;
  font-size: 20px;
}

.btn-primary {
  color: $offWhite;
  background-color: lighten( $steelBlue, 22% );
  border-color: darken( $steelBlue, 22% );
}

.btn-primary:hover {
  color: $darkSlate;
  background-color: $offWhite;
}

.btn-lg, .btn-group-lg>.btn {
  padding: 16px;
  font-size: 28px;
}

.panel {
  border-radius: 0px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.5);
  box-shadow: 0 1px 1px rgba(0,0,0,.5);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*palettes*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.palette {}

.palette h2 {
  font-size: 48px;
  font-weight: 100;
}

.palette h3 {
  font-size: 30px;
  font-weight: 100;
}

.horizontal-padding-small {
  padding: 8px 0 8px 0;
}

.horizontal-padding-medium {
  padding: 24px 0 24px 0;
}

.horizontal-padding-large {
  padding: 48px 0 96px 0;
}

.horizontal-padding-top-large {
  padding-top: 48px;
}

.background-translucent {
  background-color: rgba(255, 255, 255, 0.2);
}

.background-opaque {
  background-color: rgba($steelBlue, 0.2);
}

.background-pale {
  background-color: lighten( $paleYellow, 22%);
  color: #000;
}

.background-steel {
  background-color: darken( $steelBlue, 15% );
  color: $offWhite;
}

.background-slate {
  background-color: $darkSlate;
  color: $offWhite;
}

.background-slate-lighten-25 {
  background-color: lighten( $darkSlate, 25% );
  color: $offWhite;
}

.background-slate-lighten-45 {
  background-color: lighten( $darkSlate, 45% );
  color: $darkSlate;
}

.background-slate-lighten-65 {
  background-color: lighten( $darkSlate, 65% );
  color: $darkSlate;
}

.background-slate-lighten-75 {
  background-color: lighten( $darkSlate, 75% );
  color: $darkSlate;
}

.background-dark {
  background-color: #000;
  color: $darkYellow;
}

.background-bright {
  background-color: $offWhite;
  color: #000;
}

.single-border-top-slate {
  border-top: 1px solid lighten( $darkSlate, 65% );
}

.single-border-bottom-slate {
  border-bottom: 1px solid lighten( $darkSlate, 65% );
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*text dressing*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.text-indent {
  padding-left: 24px;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-white {
  color: #fff;
}

.text-pale-yellow {
  color: $paleYellow;
}

.text-medium-yellow {
  color: $mediumYellow;
}

.text-dark-yellow {
  color: $darkYellow;
}

.text-slate {
  color: $darkSlate;
}

.text-steel-blue {
  color: $steelBlue;
}

.text-shadow-black {
  text-shadow: 1px 1px 1px #000;
}

.text-shadow-black strong {
  color: $paleYellow;
}

.text-shadow-slate {
  text-shadow: 1px 1px 1px $darkSlate;
}

.text-scriptfont {
  font-family: $fontFancy;
}

.text-codefont {
  font-family: $fontStyleCode;
}

.text-sansfont {
  font-family: $fontPrimary;
}

.text-seriffont {
  font-family: $fontProfessional;
}

/*banners*/
#hero-banner {
  background: url(../img/map.jpg) no-repeat center top;
  background-attachment: relative;
  background-position: top center;
  background-color: $darkSlate;
  min-height: 450px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#hero-banner h1 {
  padding-top: 32px;
  font-size: 96px;
  text-align: center;
  font-weight: 800;
  font-family: $fontProfessional;
  text-transform: none;
}

#workethic-banner {
/*  background: url(../img/waves.jpg) no-repeat center top;
  background-attachment: relative;
  background-position: center center;*/
  height: 350px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#contact-banner h4 {
  padding-top: 36px;
}

#contact-banner h4 a {
  color: $steelBlue;
  font-size: 24px;
}

#contact-header-banner {
/*  background: url(../img/contact-header-banner.jpg) no-repeat center top;
  background-attachment: relative;
  background-position: center left;*/
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about-header-banner {
/*  background: url(../img/about-header-banner.jpg) no-repeat center top;
  background-attachment: relative;
  background-position: center left;*/
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#mission-header-banner {
/*  background: url(../img/mission-header-banner.jpg) no-repeat center top;
  background-attachment: relative;
  background-position: center left;*/
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#terms-header-banner {
/*  background: url(../img/terms-header-banner.jpg) no-repeat center top;
  background-attachment: relative;
  background-position: center left;*/
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#apps-header-banner {
/*  background: url(../img/not-a-business-card.jpg) no-repeat center top;
  background-attachment: relative;
  background-position: center left;*/
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#hosting-header-banner {
/*  background: url(../img/hosting-banner.jpg) no-repeat center top;
  background-attachment: relative;
  background-position: center top;*/
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#code-header-banner {
/*  background: url(../img/code-banner.jpg) no-repeat center top;
  background-attachment: relative;
  background-position: center left;*/
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#blog-header-banner {
/*  background: url(../img/blog-banner.jpg) no-repeat center top;
  background-attachment: relative;
  background-position: center left;*/
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*sections*/
section {
  margin: 0;
  padding: 0;
}

section ul, section ol {
  padding-left: 36px;
}

section h1 {
  font-size: 48px;
  font-weight: 100;
  padding: 3px 0 20px 0;
  font-family: $fontPrimary;
  text-transform: uppercase;
}

section h4 {
  font-size: 28px;
  font-weight: 600;
  padding: 3px 0 20px 0;
  font-family: $fontSecondary;
  text-transform: uppercase;
}

section h5 {
  font-size: 24px;
  padding: 3px 0 6px 0;
  font-family: $fontSecondary;
  text-transform: uppercase;
}

.team {
  text-align: center;
}

/*hero*/
section#hero {
  background-color: #fff;
}

img#hero-image {
  margin: 0 auto;
  width: 500px;
  height: 500px;
}


/*about*/
img.mugshot {
  width: 174px;
  height: 174px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.posted-date {
  font-size: 14px;
  font-weight: 100;
  font-family: $fontPrimary;
  color: lighten( $darkSlate, 15% );
}

.navbar-phone a {
  float: right;
  height: 50px;
  padding: 15px 5px;
  line-height: 20px;
  font-weight: 800;
}

.buffer-pad {
  padding: 12px;
}

.row-sep {
  padding: 12px 6px 12px 6px;
  margin-bottom: 24px;
  border: 0 none;
}

.top-pad {
  padding-top: 12px;
}

.bottom-pad {
  padding-bottom: 12px;
}

.left-border-slate {
  border-left: 1px solid $darkSlate;
  padding-left: 12px;
}

.min-height-150 {
  padding: 48px 0 48px;
  min-height: 150px;
}

.summary {
  padding: 12px 6px 12px 6px;
  background-color: rgba($darkSlate, 0.8);
  color: $offWhite;
}

/*responsive*/
@media (max-width: 768px) {
  .logo-image {
    display: none;
  }

  .buffer-pad {
    margin-bottom: 12px;
  }

  .palette h2 {
    font-size: 36px;
    font-weight: 100;
  }

  .lead {
    font-size: 22px;
  }

  #hero-banner h1 {
    font-size: 64px;
  }

  section ul, section ol {
    padding-left: 12px;
  }

  .container-narrow {
    width: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .row {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0 18px 0 18px;
  }

  .row-sep {
    padding: 12px 6px 12px 6px;
    margin-bottom: 6px;
  }
}

/*footer*/

footer {
/*  background: url(../img/west-linn-bridge.jpg) no-repeat center top;
  background-attachment: relative;
  background-position: top center;*/
  min-height: 350px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 64px 0 48px;
  color: $offWhite;
}

footer p, footer ul, footer ol, footer address {
  font-size: 18px;
  line-height: 22px;
  padding-left: 0px;
}

#footer a {
  color: lighten( $steelBlue, 35% );
}

#footer-social a {
  color: $offWhite;
}

#footer-links a {
  color: $paleYellow;
}

#footer-links .active a {
  text-decoration: underline;
}

/*fin*/