---
layout: page
title: Services
active: services
subactive: cloud
header: "Cloud Services"
banner: "cloud-header-banner"
tagline: "You Run Your Business, We'll Run Your Cloud"
meta: 
---

{% include sections/page_tagline.html %}


<section id="cloud" class="palette background-bright">
<div id="cloud-banner">

    <div class="container horizontal-padding-large container-narrow">
    <div class="row">

      <div class="col-md-4 col-lg-4 background-slate-lighten-45 top-pad">
          <img src="{{ site.baseurl }}/assets/img/cloud.png" class="img-responsive hidden-xs hidden-sm" alt="Cloud services" />
      </div><!-- /.col -->

      <div class="col-md-8 col-lg-8">
        <p></p>
      </div><!-- /.col -->

    </div><!-- /.row -->

    <div class="row">
    
      <p></p>

    </div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- /#cloud-banner -->
</section><!-- /#cloud -->

{% include sections/reachout.html %}
