---
layout: page
title: Services
active: services
subactive: ecommerce
header: "E-commerce"
banner: "services-header-banner"
tagline: "Successful & Secure Commerce Requires Experience"
meta: 
---

{% include sections/page_tagline.html %}


<section id="commerce" class="palette background-bright">
<div id="commerce-banner">

    <div class="container horizontal-padding-large container-narrow">
    <div class="row">

      <div class="col-md-4 col-lg-4 background-slate-lighten-45 top-pad">
          <img src="{{ site.baseurl }}/assets/img/commerce.png" class="img-responsive hidden-xs hidden-sm" alt="E-commerce" />
      </div><!-- /.col -->

      <div class="col-md-8 col-lg-8">
        <p>We launched our first large scale web store in 2005.  Since then we've deployed many ecommerce web applications from small shops to multi-million dollar stores that fully integrate into ERP.</p>
      </div><!-- /.col -->

    </div><!-- /.row -->

    <div class="row">

      <p>We go well beyond setting up a secure shopping experience. We apply the same user-experience and content strategy tactics to e-commerce, which allows customers to easily find and select products, input information securely, and progress through the buying experience quickly.</p>
            
    </div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- /#commerce-banner -->
</section><!-- /#commerce -->

{% include sections/reachout.html %}
