---
layout: page
title: Services
active: services
subactive: webapps
header: "Web & Mobile"
banner: "webapps-header-banner"
tagline: "Your Website Has Two Jobs"
meta: 
---

{% include sections/page_tagline.html %}

<section id="webapps" class="palette background-bright">
<div id="webapps-banner">

    <div class="container horizontal-padding-large container-narrow">
    <div class="row">

      <div class="col-md-4 col-lg-4 background-slate-lighten-45 top-pad">
          <img src="{{ site.baseurl }}/assets/img/responsive.png" class="img-responsive hidden-xs hidden-sm" alt="Responsiveness" />
      </div><!-- /.col -->

      <div class="col-md-8 col-lg-8">
        <p>Your website has two jobs above all others:</p>
        <ul>
        <li>attract visitors</li>
        <li>keep visitors</li>
        </ul>
        <p>Do you know how well your site is doing this now?  Let us show you what's working and what could stand some improvement.</p>
      </div><!-- /.col -->

    </div><!-- /.row -->

    <div class="row">

      <p>Ok, not every web application is the same and there are many metrics to consider; but in the end, if you are not managing your visitors and users effectively, you could be losing ground.</p>

      <p>We are experts at growing your online presence. Let's us show you how we can create focus, target the right customers, and keep them loyal to your brand.</p>

    </div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- /#webapps-banner -->
</section><!-- /#webapps -->

{% include sections/reachout.html %}
