/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* font imports
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*cursive*/
@import url(http://fonts.googleapis.com/css?family=Lobster);
/*sans serif*/
@import url(http://fonts.googleapis.com/css?family=Raleway);
/*serif*/
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
/*monospace*/
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* global variables for SASS/SCSS*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*variables -- fonts*/
/*variables -- sizes*/
/*variables -- colors*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*global resets*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
* { margin: 0; padding: 0; }

html, body { height: 100%; }

body { background-color: #f9f9f9; font-family: "Roboto", Helvetica, arial, sans-serif; }

h1, h2, h3, h4, h5, h6 { font-weight: 800; font-family: "Roboto Slab", Helvetica, arial, sans-serif; font-size: 100%; }

h1 { margin-bottom: 1em; }

p { margin: 1em 0; }

a { color: #27343d; }

a:hover { color: #27343d; }

a:visited { color: #27343d; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*Bootstrap overrides*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
hr { border-top: 1px solid #a0b5c3; }

.container-narrow { width: 760px; margin-right: auto; margin-left: auto; }

.container-medium-padding { padding: 24px 0 48px 0; }

.container-large-padding { padding: 48px 0 96px 0; }

.lead { font-size: 24px; }

.navbar { font-family: "Lobster", Helvetica, arial, sans-serif; }

.navbar-default { border-color: transparent; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { color: inherit; background-color: inherit; text-decoration: underline; }

.white-opacity { background: #7f7f7f; background: rgba(255, 255, 255, 0.8); border-color: transparent; }

h1 small { padding-left: 15px; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*palettes*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.single-border-top-slate { border-top: 1px solid #cfd9e0; }

.single-border-bottom-slate { border-bottom: 1px solid #cfd9e0; }

.palette h2 { font-size: 48px; font-weight: 100; }

.palette h3 { font-size: 36px; font-weight: 100; }

.background-simple { background-color: #fff; }

.background-pale { background-color: #f8e19b; color: #000; }

.background-steel { background-color: #325977; color: #fdfdfd; }

.background-slate { background-color: #27343d; color: #fdfdfd; }

.background-dark { background-color: #000; color: #7f6000; }

.palette-dark-white { background-color: #000; color: #fdfdfd; }

.palette-gray-dark { background-color: #eef2f4; color: #27343d; }

.background-bright { background-color: #fdfdfd; color: #000; }

.background-bright h3 { font-family: "Lobster", Helvetica, arial, sans-serif; font-size: 40px; color: #000; font-weight: 50; }

.palette-light-dark { background-color: #fff; color: #27343d; }

.palette-light-dark h4 { font-size: 24px; font-weight: 300; color: #bf9000; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*text dressing*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.text-white { color: #fff; }

.pale-yellow { color: #f1c232; }

.medium-yellow { color: #bf9000; }

.dark-yellow { color: #7f6000; }

.steel-blue { color: #4882ad; }

.shadow-black { text-shadow: 1px 1px 1px #000; }

.shadow-slate { text-shadow: 1px 1px 1px #27343d; }

/*banners*/
#hero-banner { background: url(../img/map.jpg) no-repeat center top; background-attachment: relative; background-position: top center; min-height: 450px; width: 100%; -webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

#hero-banner h1 { padding-top: 48px; font-size: 96px; text-align: center; }

#workethic-banner { background: url(../img/waves.jpg) no-repeat center top; background-attachment: relative; background-position: center center; height: 350px; width: 100%; -webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

#contact-banner h4 { padding-top: 36px; }

#contact-banner h4 a { color: #fdfdfd; font-size: 24px; }

/*sections*/
section { margin: 0; padding: 0; }

section h1 { font-size: 48px; }

section p { font-size: 125%; }

.centerify { text-align: center; }

.team { text-align: center; }

/*hero*/
section#hero { background-color: #fff; }

img#hero-image { margin: 0 auto; width: 500px; height: 500px; }

/*about*/
img.mugshot { width: 174px; height: 174px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }

/*responsive*/
@media (max-width: 768px) { .logo-image { display: none; }
  .lead { font-size: 24px; text-shadow: 1px 1px 1px #000; }
  #hero-banner h1 { color: #f1c232; font-size: 64px; }
  .row { margin-left: -15px; margin-right: -15px; padding: 0 18px 0 18px; } }
/*footer*/
footer { background: url(../img/footer-map.jpg) no-repeat center top; background-attachment: relative; background-position: top center; min-height: 350px; width: 100%; -webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; padding: 48px 0 48px; color: #fdfdfd; }

#footer a { color: #f1c232; }

/*fin*/
