@import url('http://fonts.googleapis.com/css?family=Open+Sans: 200,300,400,600,700');

/*****************************************************************************/
/* common css
/*****************************************************************************/

/*mellow yellow - #f1c232*/
/*medium yellow - #bf9000*/
/*dark yellow - #7f6000*/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font-family: 'Roboto', Helvetica, arial, sans-serif;
  font-size: 103%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a { color: #00a; }
a:hover { color: #000; }
a:visited { color: #a0a; }

html, body {
    height: 100%;
    font-family: 'Roboto', Helvetica, arial, sans-serif;
    font-size: 103%;
}

a {
  color: #222222;
}

.wrapper, .row {
   height: 100%;
   margin-left: 0;
   margin-right: 0;
}

.wrapper: before, .wrapper: after,
.column: before, .column: after {
    content: "";
    display: table;
}

.wrapper: after,
.column: after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom: 1;
}

.column .padding {
    padding: 20px;
    max-width: 640px;
}

.box {
    bottom: 0; /* increase for footer use */
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background: #bf9000;
    /*background-image: url('/assets/img/hero.jpg');
    background-size: cover;
    background-attachment: fixed;*/
}

.divider {
  margin-top: 32px;
}

#main {
    background-color: #fefefe;
    padding: 20px;
}
#main .img-circle {
  margin-top: 18px;
  height: 70px;
  width: 70px;
}

.nav>li>a {
  position: relative;
  display: block;
  padding-top: 4px;
}


/*****************************************************************************/
/* sidebar
/*****************************************************************************/
#sidebar, #sidebar li, #sidebar a {
    color: #fff;
    background-color: transparent;
    text-shadow: 1px 0 1px #888;
}

#sidebar li.header {
  /*border-bottom: 1px solid #444;*/
  color: #444;
  /*text-transform: uppercase;*/
  position: relative;
  display: block;
  padding: 3px 0 3px 15px;
  /*font-weight: bold;*/
  margin: 12px 0 3px;
}

#sidebar a.logo {
  display: block;
  padding: 3px;
  background-color: #fff2cc;
  color: #7f6000;
  height: 46px;
  margin: 15px 0 15px 0;
  font-family: 'Inconsolata', monospace;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 0;
}

#sidebar-footer {
  position: absolute;bottom: 5px;
}

#sidebar-footer .fa {
  padding-right: 10px;
}

#footer {
  margin-bottom: 20px;
}

/* center and adjust the sidebar contents on smaller devices */
@media (max-width: 768px) {
  .column {
      height: initial;
      overflow: initial;
  }
  #sidebar,#sidebar a.logo {
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 26px;
  }
  #sidebar a.logo {
    font-size: 50px;
    height: 75px;
    margin-bottom: 30px;
  }
}


/*****************************************************************************/
/* Bootstrap overrides
/*****************************************************************************/
h1,h2,h3 {
  font-weight: 800;
  font-family: 'Roboto Slab', serif;
}

.jumbotron {
  background-color: transparent;
}

.lead {
  padding: 6px 0 12px;
  font-family: 'Roboto', Helvetica, arial, sans-serif;
  font-size: 18px;
}

.label-default {
  background-color: #dddddd;
}

.page-header {
  margin-top: 1px;
  padding-top: 9px;
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.col-sm-9.full {
    width: 100%;
}

h1 small {
  padding-left: 15px;
}

small.text-muted {
  font-family: 'Inconsolata', monospace;
}

section {
  margin-bottom: 48px;
}

#sections header {
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
}

#sections p, ul {
  line-height: 24px;
  font-size: 18px;
  padding: 2px 0 6px;
}

section h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  color: #777;
}

section h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
}

section h4 {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  padding-bottom: 12px;
}

section ul {
  padding-left: 36px;
}
