/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* font imports
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*script*/
@import url(http://fonts.googleapis.com/css?family=Lobster);
/*sans serif*/
@import url(http://fonts.googleapis.com/css?family=Raleway);
/*serif*/
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
/*@import url(http://fonts.googleapis.com/css?family=Arvo);*/
/*monospace*/
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* global variables for SASS/SCSS*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*variables -- fonts*/
/*variables -- sizes*/
/*variables -- colors*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*global resets*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
* { margin: 0; padding: 0; }

html, body { height: 100%; }

body { background-color: #f9f9f9; font-family: Raleway, Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 { font-weight: 800; font-family: "Roboto Slab", Times, serif; font-size: 100%; }

h1 { margin-bottom: 1em; }

p, ul, ol { font-size: 20px; font-family: Raleway, Helvetica, Arial, sans-serif; line-height: 30px; }

a { color: #27343d; }

a:hover { color: #27343d; }

a:visited { color: #27343d; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*Bootstrap overrides*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
hr { border-top: 1px solid #a0b5c3; }

blockquote { padding: 20px; font-size: 30px; font-family: "Lobster"; color: #27343d; border-left: 0; }

.container-narrow { width: 760px; margin-right: auto; margin-left: auto; }

.lead { font-size: 24px; }

.page-header { font-weight: 100; color: #fdfdfd; border-bottom: 0; text-shadow: 1px 1px 1px #000; }

.navbar { font-family: "Roboto Slab", Times, serif; }

#nav-links { font-size: 14px; font-weight: 50; }

.navbar-brand { font-family: "Lobster"; font-weight: 100; font-size: 30px; }

.navbar-default { border-color: transparent; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { color: #bf9000; font-weight: bold; background-color: inherit; }

.nav-pills { /*border-bottom: 3px solid $darkSlate;*/ }

.nav-pills > li { font-size: 16px; }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus { color: #fdfdfd; background-color: #27343d; }

.nav-pills > li > a { border-radius: 0px; /*padding: 10px 15px;*/ }

.nav-pills > li > a:hover { background-color: #689bc0; color: #fdfdfd; transition: background-color 0.5s ease; }

/*not a real override, but this changes the navbar*/
.white-opacity { background: #7f7f7f; background: rgba(255, 255, 255, 0.8); border-color: transparent; }

h1 small { padding-left: 15px; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*palettes*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.palette h2 { font-size: 48px; font-weight: 100; }

.palette h3 { font-size: 36px; font-weight: 100; }

.horizontal-padding-small { padding: 8px 0 8px 0; }

.horizontal-padding-medium { padding: 24px 0 24px 0; }

.horizontal-padding-large { padding: 48px 0 96px 0; }

.background-pale { background-color: #f8e19b; color: #000; }

.background-steel { background-color: #325977; color: #fdfdfd; }

.background-slate { background-color: #27343d; color: #fdfdfd; }

.background-slate-lighten-25 { background-color: #59768b; color: #fdfdfd; }

.background-slate-lighten-45 { background-color: #91a8b9; color: #27343d; }

.background-slate-lighten-65 { background-color: #cfd9e0; color: #27343d; }

.background-slate-lighten-75 { background-color: #eef2f4; color: #27343d; }

.background-dark { background-color: #000; color: #7f6000; }

.background-bright { background-color: #fdfdfd; color: #000; }

.single-border-top-slate { border-top: 1px solid #cfd9e0; }

.single-border-bottom-slate { border-bottom: 1px solid #cfd9e0; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*text dressing*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.text-indent { padding-left: 24px; }

.text-uppercase { text-transform: uppercase; }

.text-white { color: #fff; }

.text-pale-yellow { color: #f1c232; }

.text-medium-yellow { color: #bf9000; }

.text-dark-yellow { color: #7f6000; }

.text-slate { color: #27343d; }

.text-steel-blue { color: #4882ad; }

.text-shadow-black { text-shadow: 1px 1px 1px #000; }

.text-shadow-black strong { color: #f1c232; }

.text-shadow-slate { text-shadow: 1px 1px 1px #27343d; }

.text-scriptfont { font-family: "Lobster"; }

.text-codefont { font-family: Inconsolata, Courier, monospace; }

.text-sansfont { font-family: Raleway, Helvetica, Arial, sans-serif; }

.text-seriffont { font-family: "Roboto Slab", Times, serif; }

/*banners*/
#hero-banner { background: url(../img/map.jpg) no-repeat center top; background-attachment: relative; background-position: top center; min-height: 450px; width: 100%; -webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

#hero-banner h1 { padding-top: 32px; font-size: 112px; text-align: center; font-weight: 800; font-family: "Roboto Slab", Times, serif; text-transform: none; }

#workethic-banner { background: url(../img/waves.jpg) no-repeat center top; background-attachment: relative; background-position: center center; height: 350px; width: 100%; -webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

#contact-banner h4 { padding-top: 36px; }

#contact-banner h4 a { color: #4882ad; font-size: 24px; }

#contact-header-banner { background: url(../img/contact-header-banner.jpg) no-repeat center top; background-attachment: relative; background-position: center left; width: 100%; -webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

#about-header-banner { background: url(../img/about-header-banner.jpg) no-repeat center top; background-attachment: relative; background-position: center left; width: 100%; -webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

#mission-header-banner { background: url(../img/mission-header-banner.jpg) no-repeat center top; background-attachment: relative; background-position: center left; width: 100%; -webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

#terms-header-banner { background: url(../img/terms-header-banner.jpg) no-repeat center top; background-attachment: relative; background-position: center left; width: 100%; -webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

#apps-header-banner { background: url(../img/not-a-business-card.jpg) no-repeat center top; background-attachment: relative; background-position: center left; width: 100%; -webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

#hosting-header-banner { background: url(../img/hosting-banner.jpg) no-repeat center top; background-attachment: relative; background-position: center top; width: 100%; -webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

#code-header-banner { background: url(../img/code-banner.jpg) no-repeat center top; background-attachment: relative; background-position: center left; width: 100%; -webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

#blog-header-banner { background: url(../img/blog-banner.jpg) no-repeat center top; background-attachment: relative; background-position: center left; width: 100%; -webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

/*sections*/
section { margin: 0; padding: 0; }

section ul, section ol { padding-left: 36px; }

section h1 { font-size: 48px; font-weight: 100; padding: 3px 0 20px 0; font-family: Raleway, Helvetica, Arial, sans-serif; text-transform: uppercase; }

section h4 { font-size: 30px; font-weight: 100; padding: 3px 0 20px 0; font-family: Raleway, Helvetica, Arial, sans-serif; text-transform: uppercase; }

.team { text-align: center; }

/*hero*/
section#hero { background-color: #fff; }

img#hero-image { margin: 0 auto; width: 500px; height: 500px; }

/*about*/
img.mugshot { width: 174px; height: 174px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }

.posted-date { font-weight: 100; font-family: Raleway, Helvetica, Arial, sans-serif; color: #455c6c; }

.top-pad { padding-top: 12px; }

.bottom-pad { padding-bottom: 12px; }

.left-border-slate { border-left: 1px solid #27343d; padding-left: 12px; }

/*responsive*/
@media (max-width: 768px) { .logo-image { display: none; }
  .lead { font-size: 24px; text-shadow: 1px 1px 1px #000; }
  #hero-banner h1 { color: #f1c232; font-size: 64px; }
  section ul, section ol { padding-left: 12px; }
  .container-narrow { width: auto; margin-right: auto; margin-left: auto; }
  .row { margin-left: 0px; margin-right: 0px; padding: 0 18px 0 18px; } }
/*footer*/
footer { background: url(../img/footer-map.jpg) no-repeat center top; background-attachment: relative; background-position: top center; min-height: 350px; width: 100%; -webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; padding: 64px 0 48px; color: #fdfdfd; }

footer p, footer ul, footer ol { font-size: 14px; line-height: 20px; padding-left: 0px; }

#footer a { color: #c2d6e6; }

#footer-social a { color: #fdfdfd; }

#footer-links a { color: #f1c232; }

#footer-links .active a { text-decoration: underline; }

/*fin*/
