---
layout: page
title: Blog
active: blog
header: Blog
meta: blog notes
---

<section id="posts" class="palette background-bright">    
<div id="posts-banner">

    <div class="container horizontal-padding-large container-narrow">
    <div class="row">

        <!-- posts -->
        {% if site.posts %}

            {% for post in site.posts %}
            {% if post.status != 'draft' %}
            <p>
                <a href="{{ post.url }}">{{ post.title }}</a>
                    {% if post.date %}
                        | {{ post.date | date_to_string }}
                    {% endif %}
            </p>
            {% endif %}
            {% endfor %}

        {% else %}
        <p>No Notes</p>
        {% endif %}
    
    </div><!-- /.row -->
    </div><!-- /.container -->
    
</div><!-- /#posts-banner -->
</section><!-- /#posts -->
