<!DOCTYPE html>
<html>
    {% include block_head.html %}
    <body>

    <div class="wrapper">
        <div class="box">
            <div class="row">

                <div class="column col-sm-3" id="sidebar">
                {% include block_sidebar.html %}
                </div><!-- /sidebar -->

                <div class="column col-sm-9" id="main">
                    <div class="padding">
                        {{ content }}
                    </div><!-- /.padding -->
                </div><!-- /.main -->

            </div><!-- /.row -->
        </div><!-- /.box -->
    </div><!-- /.wrapper -->

    {% include footer.html %}
    </body>
</html>
