---
layout: page
title: Note
active: blog
---

<section id="note" class="palette background-light-gray">
<div id="note-banner">

    <div class="container container-narrow">
    <div class="row">

        <div class="col-lg-6"><a href="/blog" class="button"><i class="fa fa-arrow-left"></i> All Notes</a></div>
        <div class="col-lg-6 text-right">Posted on {{ page.date | date: "%B %-d %Y" }}</div>
    
    </div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- /#note-banner -->
</section><!-- /#note -->

<section id="post" class="palette background-simple">
<div id="post-banner">

    <div class="container container-large-padding container-narrow">
    <div class="row">

        {{ content }}
        
    </div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- /#post-banner -->
</section><!-- /#post -->
