---
layout: page
title: Note
active: blog
---

<section id="toolbox" class="palette horizontal-padding-small background-light-gray">
<div id="toolbox-banner">

    <div class="container container-narrow">
    <div class="row">
        <a href="{{ site.baseurl }}/blog" class="button"><i class="fa fa-arrow-left"></i> All Posts</a>
    </div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- /#toolbox-banner -->
</section><!-- /#toolbox -->

<section id="post" class="palette background-bright">
<div id="post-banner">

    <div class="container horizontal-padding-large container-narrow">
    <div class="row">
        <h5 class="posted-date">Posted on {{ page.date | date: "%B %-d, %Y" }}</h5>
        {{ content }}
        
    </div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- /#post-banner -->
</section><!-- /#post -->
